/*
*
* Commons
*
*/
.mb-onboarding-commons {
	text-align: center;
}
.mb-onboarding-commons h1 {
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-size: 2.5rem;
	font-weight: normal;
	color: #326E44;
	line-height: 1;
}
.mb-onboarding-commons h2 {
	margin-top: 4rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: lighter;
	line-height: 1;
}
.mb-onboarding-login-description {
	margin-top: -2rem;
}
h1.mb-onboarding-error {
	color: red;
}
.mb-onboarding-commons .mb-onboarding-icon {
	font-size: 3rem;
	color: rgba(0,0,0,0.5);
	transform: translate(-2rem, -0.8rem);
	cursor: pointer;
}
.mb-onboarding-icon.mb-onboarding-error {
	color: red;
}
.mb-onboarding-commons input[type="radio"] {
	appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color:  rgba(0,0,0,0.5);
  width: 1.8rem;
  height: 1.8rem;
  border: 0.5rem solid  rgba(0,0,0,0.5);
  border-radius: 50%;
	transform: translateY(0.1rem);
}
.mb-onboarding-commons .mb-onboarding-row {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.mb-onboarding-commons .mb-onboarding-row.mb-onboarding-space-between {
	justify-content: space-between;
}
.mb-onboarding-commons .mb-onboarding-row.mb-onborading-pull-right {
	justify-content: flex-end;
}
.mb-onboarding-commons .mb-onboarding-row .mb-onboarding-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 1rem;
	width: 50%;
}
.mb-onboarding-commons .mb-onboarding-row .mb-onboarding-column label {
	font-weight: bold;
	padding:  0.5rem 0;
}
.mb-onboarding-commons .mb-onboarding-row .mb-onboarding-column input {
	width: 100%;
	padding: 0.5rem;
}
.mb-onboarding-commons .mb-onboarding-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mb-onboarding-commons .mb-onboarding-list .mb-onboarding-higthlight {
	border: 2px solid black;
}
.mb-onboarding-commons .mb-onboarding-list .mb-onboarding-row {
	background-color: rgba(223,223,223,1);
	border-radius: 5px;
	margin: 1rem;
	padding: 0.5rem 1rem;
}
.mb-onboarding-commons .mb-onboarding-list .mb-onboarding-row > .mb-onboarding-row-link {
	text-decoration: none;
	display: inline-block;
	margin: 0 1rem;
}
.mb-onboarding-commons .mb-onboarding-list +  .mb-onboarding-row {
	padding: 0.5rem 1rem;
}
.mb-onboarding-commons .mb-onboarding-list .mb-onboarding-row > p {
	width: 80%;
	text-align: left;
}
.mb-onboarding-commons  a.mb-onboarding-block {
	display: inline-block;
	padding: 1rem 0;
	font-weight: bold;
	color: #326E44;
	cursor: pointer;
}
.mb-onboarding-commons .mb-onboarding-buttons {
	margin-top: 4rem;
}
.mb-onboarding-commons .mb-onboarding-buttons input {
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #5f5f5f;
}
.mb-onboarding-commons .mb-onboarding-buttons input[type="submit"] {
	background-color: #326E44;
	color: white;
	border-color: #326E44;
}

@media (max-width: 1024px) {
	.mb-onboarding-commons .mb-onboarding-row {
		padding: 0 10%;
	}
}
@media (max-width: 600px) {
	.mb-onboarding-commons .mb-onboarding-row {
		padding: 0 5%;
		flex-direction: column;
	}
	.mb-onboarding-commons .mb-onboarding-row .mb-onboarding-column {
		width: 100%;
	}
	.mb-onboarding-commons .mb-onboarding-row .mb-onboarding-column input {
		margin: 0;
	}
	.mb-onboarding-commons .mb-onboarding-buttons {
		display: flex;
		flex-direction: column;
	}
	.mb-onboarding-commons .mb-onboarding-buttons input {
		width: 100%;
	}
}
.mb-onboarding-commons a:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

/*
*
* Modal
*
*/
.mb-onboarding-loading {
	color: white;
	font-size: 1.5rem;
	font-weight: lighter;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.5);
}

.mb-onboarding-close-btn {
	position: absolute;
	top: 4rem;
	right: 2rem;
	z-index: 4;
}
.mb-onboarding-close-btn:before {
	content: '\2715';
	color: black;
	background: rgba(255, 255, 255, 0.9);
	line-height: 1em;
	font-size: 2rem;
	border-radius: 50%;
	padding: 0.3rem 0.5rem;
	cursor: pointer;
	z-index: 3;
}

/*
* Video
*/
.mb-onboarding-video-container {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 5%;
	background-color: rgba(0,0,0,0.5);
}
.mb-onboarding-video-container .mb-onboarding-video-content {
	padding: 50% 0 0 0; 
	position: relative;
}

/*
* Gallery
*/
.mb-onboarding-gallery {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	z-index: 10000;
	background: rgba(0,0,0,0.5);
}

.mb-onboarding-gallery .mb-onboarding-gallery-form input {
	display: none;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(1):checked~label:nth-of-type(1),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(2):checked~label:nth-of-type(2),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(3):checked~label:nth-of-type(3),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(4):checked~label:nth-of-type(4),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(5):checked~label:nth-of-type(5),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(6):checked~label:nth-of-type(6),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(7):checked~label:nth-of-type(7),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(8):checked~label:nth-of-type(8),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(9):checked~label:nth-of-type(9),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(10):checked~label:nth-of-type(10) {
	z-index: 0;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(1):checked~label {
	transform: translate3d(0, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(2):checked~label {
	transform: translate3d(-100%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(3):checked~label {
	transform: translate3d(-200%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(4):checked~label {
	transform: translate3d(-300%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(5):checked~label {
	transform: translate3d(-400%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(6):checked~label {
	transform: translate3d(-500%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(7):checked~label {
	transform: translate3d(-600%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(8):checked~label {
	transform: translate3d(-700%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(9):checked~label {
	transform: translate3d(-800%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(10):checked~label {
	transform: translate3d(-900%, 0, 0);
}

.mb-onboarding-gallery .mb-onboarding-gallery-form label {
	display: inline-block;
	min-height: 100%;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	position: relative;
	transition: transform 400ms ease-out;
	vertical-align: center;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form label:before,
.mb-onboarding-gallery .mb-onboarding-gallery-form label:after {
	color: black;
	display: block;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	padding: 0 0.8rem;
	font-size: 3rem;
	height: 8rem;
	vertical-align: middle;
	line-height: 8rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form label img {
	max-width: 90vw;
	max-height: 80vh;
	margin: 10vh auto;
}

/*
*
*	 snackbar
*
*/
.mb-onboarding-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 30px;
  font-size: 17px;
}

.mb-onboarding-snackbar.mb-onboarding-show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}