/*
*  MYBOOKING RESERVATION ENGINE
*  -----------------------------------------------------------------------------
*
*/

/* Just-for-work imports | We must to enqueue*/
@import "mybooking-engine-components.css";
@import "mybooking-engine-product.css";
@import "mybooking-engine-selector.css";


/** FLOATED GRID **/

.mb-row {
  margin: 0 auto;
  clear: both;
}

.mb-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Columns */

[class*='mb-col-sm-'],
[class*='mb-col-md-'],
[class*='mb-col-lg-'] {
  float: left;
  padding: 0.8rem;
}

.mb-col-sm-1        { width: 8.33%; }
.mb-col-sm-2        { width: 16.66%; }
.mb-col-sm-3        { width: 25%; }
.mb-col-sm-4        { width: 33.33%; }
.mb-col-sm-5        { width: 41.66%; }
.mb-col-sm-6        { width: 50%; }
.mb-col-sm-7        { width: 58.33%; }
.mb-col-sm-8        { width: 66.66%; }
.mb-col-sm-9        { width: 75%; }
.mb-col-sm-10       { width: 83.33%; }
.mb-col-sm-11       { width: 91.66%; }
.mb-col-sm-12       { width: 100%; }

[class*='mb-col-md-'],
[class*='mb-col-lg-'] {
  width: 100%;
} /* Stacked by default on mobile */

@media only screen and ( min-width: 575.98px ) {
  .mb-col-md-1        { width: 8.33%; }
  .mb-col-md-2        { width: 16.66%; }
  .mb-col-md-3        { width: 25%; }
  .mb-col-md-4        { width: 33.33%; }
  .mb-col-md-5        { width: 41.66%; }
  .mb-col-md-6        { width: 50%; }
  .mb-col-md-7        { width: 58.33%; }
  .mb-col-md-8        { width: 66.66%; }
  .mb-col-md-9        { width: 75%; }
  .mb-col-md-10       { width: 83.33%; }
  .mb-col-md-11       { width: 91.66%; }
  .mb-col-md-12       { width: 100%; }

  [class*='mb-col'] {
    padding: 1rem;
  }
}

@media only screen and ( min-width: 991.98px ) {
  .mb-col-lg-1        { width: 8.33%; }
  .mb-col-lg-2        { width: 16.66%; }
  .mb-col-lg-3        { width: 25%; }
  .mb-col-lg-4        { width: 33.33%; }
  .mb-col-lg-5        { width: 41.66%; }
  .mb-col-lg-6        { width: 50%; }
  .mb-col-lg-7        { width: 58.33%; }
  .mb-col-lg-8        { width: 66.66%; }
  .mb-col-lg-9        { width: 75%; }
  .mb-col-lg-10       { width: 83.33%; }
  .mb-col-lg-11       { width: 91.66%; }
  .mb-col-lg-12       { width: 100%; }

  [class*='mb-col'] {
    padding: 1.25rem;
  }
}

/* Helpers */

.mb-col-right {
  float: right;
} /* Flips column order if applied to start column */

.mb-col-center {
  float: none;
  margin: 0 auto;
} /* Centers column if less than mb-col-*-12 */


/** STRUCTURE **/

.mb-section {
  margin-bottom: 2rem;
}


/** FORMS **/

.mb-form-group label {
  display: inline-block;
}

.mb-form-group input {
  display: inline-block;
  width: 100%;
}

.mb-form-row {
  margin: 0 0 1rem 0;
} @media ( min-width: 575.98px ) {
  .mb-form-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
  }
  .mb-form-row.mb-custom-date-form {
    gap: 0.5rem;
  }
}

.mb-form-row [class*='mb-col'] {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.mb-form-control {
  min-width: 100%;
  margin-bottom: 0.5rem;
}

.mb-custom-date-form select {
  min-width: 100%;
  margin-bottom: 0.5rem;
} @media ( min-width: 575.98px ) {
  .mb-custom-date-form select {
    margin: 0;
  }
}


/** UI ELEMENTS **/

/* Buttons */
.mb-button.block {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

/* Badges */
.mb-badge {
  padding: 4px 8px;
  border-radius: 25px;
  background-color: #424242;
  color: #FFF;
  font-size: .7rem;
  font-weight: bold;
}

.mb-badge.info         { background-color: #2193F2; }
.mb-badge.success      { background-color: #3DD992; }
.mb-badge.danger       { background-color: #E6546E; }
.mb-badge.warning      { background-color: #FFB74D; }

.mb-badge.big {
  padding: 4px 16px;
  font-size: 1em;
  line-height: 2;
}

/* Alerts */
.mb-alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #424242;
  line-height: 1.2;
}

.mb-alert.secondary     { background-color: #DDD; }
.mb-alert.info          { background-color: #6EC3FF; }
.mb-alert.success       { background-color: #3DD992; }
.mb-alert.danger        { background-color: #EC8396; }
.mb-alert.warning       { background-color: #FFB74D; }

.mb-alert.highlight {
  padding: 1.25rem;
  background-color: #2193F2;
  color: #FFF;
  font-size: 1.4em;
  text-align: center;
}

/* Text */
.mb-text-danger {
  color: #EC8396;
}

/* Cards */
.mb-card {
  display: block;
  border: 1px solid #DDD;
}

.mb-card::after {
  display: block;
  content: "";
  clear: both;
}

.mb-card-header {
  background-color: #EEE;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid #DDD;
}

.mb-card-header h2,
.mb-card-header h3,
.mb-card-header h4,
.mb-card-header h5 {
  margin: 0;
}

.mb-card-body {
  padding: 1rem;
}

.mb-card-footer {
  margin: 1rem 0 0 0;
  padding: 1rem;
  border-top: 1px solid #DDD;
}

/* Lists */
.mb-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mb-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.mb-list-element.secondary {
  font-weight: 700;
}

.mb-list-element.info {
  font-weight: 700;
  color: #2193F2;
}

.mb-list-element.success {
  font-weight: 700;
  color: #3DD992;
}

.mb-list-element.danger {
  font-weight: 700;
  color: #E6546E;
}

.mb-list-element.warning {
  font-weight: 700;
  color: #FFB74D;
}

.mb-list.border {
  display: block;
  border: 1px solid #DDD;
}

.mb-list.border::after {
  display: block;
  content: "";
  clear: both;
}

.border .mb-list-item {
  padding: 1rem;
  border-bottom: 1px solid #DDD;
}

.border .mb-list-item:last-of-type {
  border-bottom: none;
}

/** PROCESS PAGES **/

/* Choose page */
.btn-choose-product,
.btn-confirm-selection {
  background-color: #2193F2!important;
  color: #FFF!important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-choose-product a,
.btn-confirm-selection a {
  color: white;
  text-decoration: none!important;
}

.btn-confirm-selection {
  float: right;
}

.btn-choose-product:hover,
.btn-confirm-selection:hover {
  background-color: #666;
  color: #FFF;
}

/* Complete page */
.mybooking-process_complete .mybooking-product_price {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #DDD;
}

/* Summary page */
.mybooking-process_summary .mybooking-product_header {
  background-color: #EEE;
  border: 1px solid #DDD;
  border-top: none;
}

/* Reservation page */
.mybooking-process_reservation .mybooking-product_header {
  background-color: #EEE;
  border: 1px solid #DDD;
  border-top: none;
}


/* TESTER */
.flex-form-group-wrapper {
  border: 1px dotted black;
  padding: 2px;
}

.flex-form-group {
  border: 1px solid blue;
  padding: 2px;
}

.flex-form-horizontal-box {
  background-color: red;
  padding: 2px;
}

.flex-form-horizontal-item {
  border: 1px solid green;
  padding: 2px;
}
