/*
*  NYBOOKING RESERVATION ENGINE
*  -----------------------------------------------------------------------------
*  Version: 0.9
*
 */

/* Just-for-work imports */
@import "mybooking-engine-components.css";
@import "mybooking-engine-product.css";
@import "mybooking-engine-selector.css";


/** UI ELEMENTS **/

/* Badges */
.mb-badge {
  padding: 2px 4px;
  color: #FFF;
  background-color: #424242;
  border-radius: 3px;
  font-size: .7rem;
  font-weight: bold;
}

.mb-badge.info {
  background-color: #2193F2;
}

.mb-badge.success {
  background-color: #3DD992;
}

.mb-badge.danger {
  background-color: #E6546E;
}

.mb-badge.warning {
  background-color: #FFB74D;
}

/* Alerts */
.mb-alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #424242;
}

.mb-alert.secondary {
  background-color: #9D9D9D;
}

.mb-alert.info {
  background-color: #6EC3FF;
}

.mb-alert.success {
  background-color: #3DD992;
}

.mb-alert.danger {
  background-color: #EC8396;
}

.mb-alert.warning {
  background-color: #FFB74D;
}
