/*
*  NYBOOKING RESERVATION ENGINE
*  -----------------------------------------------------------------------------
*  Version: 0.9
*
 */

/* Just-for-work imports */
@import "mybooking-engine-product.css";
@import "mybooking-engine-selectors.css";


/** MYBOOKING GRID **/

.mybooking-grid {
  display: block;
  flex-wrap: wrap;
  margin: 1rem 0;
  max-width: 1170px;
}

.mybooking-column {
  flex: 1;
  flex-basis: 100%;
  flex-grow: 0;
}

@media (min-width: 576.98px) {
  .mybooking-grid {
    display: flex;
  }
  .mybooking-column {
    flex-basis: 50%;
  }
}

@media (min-width: 991.98px) {
  .mybooking-grid {
    display: flex;
  }
  .mybooking-column {
    flex-basis: 33.33333333333333333333333333333333333333333333333333333333333%;
  }
}


/** UI ELEMENTS **/
.mb-badge {
  padding: 2px 4px;
  color: #FFF;
  background-color: #424242;
  border-radius: 3px;
  font-size: .7rem;
  font-weight: bold;
}

.mb-badge.info {
  background-color: #2193F2;
}

.mb-badge.success {
  background-color: #3DD992;
}

.mb-badge.danger {
  background-color: #E6546E;
}


/** SUMMARY DETAILS **/

.mybooking-summary_header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mybooking-summary_details-title {
  display: inline-block;
  font-size: 22px;
  font-weight: bolder;
}

.mybooking-summary_edit {
  line-height: 2.5;
  font-weight: bold;
  cursor: pointer;
}

.mybooking-summary_detail {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #EEE;
  border-radius: 5px;
}

@media ( min-width: 576.98px ) {
  .mybooking-summary_detail {
    flex-flow: row;
    justify-content: space-around;
  }
}

.mybooking-summary_item {
  display: flex;
  flex-flow: column;
}

@media ( min-width: 991.98px ) {
  .mybooking-summary_item {
    flex-flow: row;
  }
}

.mybooking-summary_date {
  font-weight: bold;
}

.mybooking-summary_duration {
  text-transform: uppercase;
  font-weight: bold;
}
