/*
*  MYBOOKING RESERVATION ENGINE - COMPATIBILITY
*  -----------------------------------------------------------------------------
*/

/** Complete and my reservation forms **/

form.mybooking-data-form select,
form.mybooking-data-form input[type=text], 
form.mybooking-data-form input[type=email], 
form.mybooking-data-form input[type=url], 
form.mybooking-data-form input[type=password], 
form.mybooking-data-form input[type=search], 
form.mybooking-data-form input[type=number], 
form.mybooking-data-form input[type=tel], 
form.mybooking-data-form input[type=date], 
form.mybooking-data-form input[type=month], 
form.mybooking-data-form input[type=week], 
form.mybooking-data-form input[type=time], 
form.mybooking-data-form input[type=datetime], 
form.mybooking-data-form input[type=datetime-local], 
form.mybooking-data-form input[type=color] {
  height:  var(--mb-field-height);
  width:  100%;
  min-width:  100%;
  border-color: var(--mb-field-border-color);
}

form.mybooking-data-form textarea {
  border-color: var(--mb-field-border-color); 
  min-width: 100%;
  width:  100%;
}

form.mybooking-data-form select {
  font-size: small;
  text-align: center;
}

/*
 * Route renting product and Route activity compatibility with :
 *
 * - Twenty Nineteen
 * - Twenty Twenty
 * - Twenty Twenty One
 *
 */
@media only screen and (min-width: 768px) {
  body.mybooking-activity .mybooking-activity_container.alignwide,
  body.mybooking-product .mybooking-product_container.alignwide {
      margin: 0 10%;
      padding: 0 34px;
  }
}

/**
 * Route renting producto and Route activity compatibility with other themes
 */
@media only screen and (min-width: 768px) {
  body.mybooking-activity .mybooking.mybooking-activity_container:not(.alignwide),
  body.mybooking-product .mybooking.mybooking-product_container:not(.alignwide) {
      max-width: var(--mb-product-activity-route-max-width);
      margin: var(--mb-product-activity-route-margin);
  }
}

/*
 * Pages compatibility with the following themes: ;
 *
 * Twenty Nineteen
 * Twenty Twenty
 * Twenty Twenty One
 */
@media only screen and (min-width: 482px) {

  body.mybooking-activity .mybooking-activity_container.alignwide {
    max-width: var(--responsive--alignwide-width, 610px);
  }
  body.mybooking-product .mybooking-product_container.alignwide {
    max-width: var(--responsive--alignwide-width, 610px);
  }

  /* Twenty Nineteen */
  body.mybooking-product .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
  body.mybooking-activity .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator)
  {
    max-width: var(--responsive--alignwide-width, 610px);
  }
  /* Twenty Twenty */
  body.mybooking-product .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
  body.mybooking-activity .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide)
  {
    max-width: var(--responsive--alignwide-width, 610px);
  }
  /* Twenty Twenty One */
  body.mybooking-product .entry .entry-content > *,
  body.mybooking-activity .entry .entry-content > *
  {
    max-width: var(--responsive--alignwide-width, 610px);
  }
}
@media only screen and (min-width: 822px) {

  body.mybooking-activity .mybooking-activity_container.alignwide {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
  body.mybooking-product .mybooking-product_container.alignwide {
    max-width: var(--responsive--alignwide-width, 1240px);
  }

  /* Twenty Nineteen */
  body.mybooking-product .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
  body.mybooking-activity .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator)
  {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
  /* Twenty Twenty */
  body.mybooking-product .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
  body.mybooking-activity .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide)
  {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
  /* Twenty Twenty One */
  body.mybooking-product .entry .entry-content > *,
  body.mybooking-activity .entry .entry-content > *
  {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
}
