/*
*  MYBOOKING RESERVATION ENGINE - SELECTOR
*  -----------------------------------------------------------------------------
*/

.mybooking-selector {
  padding: var(--mb-selector-padding);
  background-color: var(--mb-selector-background);
  border: 1px solid var(--mb-selector-border-color);
  border-radius: var(--mb-border-radius);
}

.mybooking-selector_form {
  margin: 0;
}

.mybooking-selector_vertical .mybooking-selector_group,
.mybooking-selector_group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem!important;
  justify-content: space-between;
  margin-bottom: 1rem;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_group {
    flex-direction: row;
  }
}

.mybooking-selector_group:last-of-type {
  margin: 0;
}

/* Form elements */

.mybooking-selector .mb-form-control {
  padding:  10px;
}

.mybooking-selector form label {
  display: inline;
  color: var(--mb-selector-label-color);
  font-size: 14px;
  margin-bottom: 0;
}

.mybooking-selector form input:not([type="submit"]) /* Not the buttons! */,
.mybooking-selector form select {
  height: var(--mb-selector-field-height);
  margin: 0!important;
  opacity: 1;
}

.mybooking-selector form input:not([type="submit"]) /* Not the buttons! */,
.mybooking-selector form select {
  width: 100%;
  font-size: 14px!important;
  border: 1px solid var(--mb-border-color)!important;
  background-color: white;
  box-shadow: none;
  color: #424242!important;
  font-family: inherit;
  font-weight: 700!important;
}

.mybooking-selector form input[disabled]:not([type="submit"]) /* Not the buttons! */,
.mybooking-selector form select[disabled],
.mybooking-selector form input[disabled]:not([type="submit"]) + .mybooking-selector_field-icon,
.mybooking-selector form select[disabled] + .mybooking-selector_field-icon {
  background-color: #EEE!important;
  color: #CCC!important;
  cursor: not-allowed;
  font-weight: 400!important;
}

.mybooking-selector form input:not([type="submit"]):focus /* Not the buttons! */,
.mybooking-selector form select:focus {
  outline: none!important;
}

.mybooking-selector form input.form-reservation-error,
.mybooking-selector form input.form-reservation-error:focus,
.mybooking-selector form select.form-reservation-error {
  background-color: var(--mb-danger-color)!important;
  color: white!important;
  border: 1px solid var(--mb-danger-color);
  font-weight: 700;
}

.mybooking-selector form input.form-reservation-error,
.mybooking-selector form input.form-reservation-error:focus {
  font-size: 0.9em;
  display: block;
  width: 100%;
}

.mybooking-selector form label.form-reservation-error {
  position: absolute!important;
  clip: rect(0 0 0 0)!important;
  clip-path: inset(50%)!important;
  width: 1px!important;
  height: 1px!important;
  overflow: hidden!important;
  white-space: nowrap!important;
}

/** Compatibility with Twenty Twenty-Two **/
.mybooking-selector form input.mb-form-control {
  padding:  0 0 0 5px;
}

/* Buttons */

.mybooking-selector_vertical .mybooking-selector_button,
.mybooking-selector_button {
  width: 100%;
  height: 48px;
  padding: 0.3rem 2rem!important;
  border: 1px solid var(--mb-border-color);
  border-radius: var(--mb-border-radius)!important;
  outline: none!important;
  box-shadow: none!important;
  background-color: accentcolor!important;
  font-size: 18px!important;
  line-height: 1!important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_button {
    flex-direction: row;
    align-self: flex-end;
    width: auto;
  }
}

.mb-inline .mybooking-selector_button {
  min-width: 18%;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding: 0;
}

/* Placeholders */

.mybooking-selector ::placeholder {
  color: inherit!important;
  opacity: 1;
}

.mybooking-selector form input.form-reservation-error::placeholder,
.mybooking-selector form select.form-reservation-error::placeholder {
  color: var(--mb-negative-text-color)!important;
}

/* Sections */

.mybooking-selector_type {
  width: 100%;
  border-bottom: 1px solid var(--mb-border-color);
}

.mybooking-selector_type .mb-custom-label {
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5rem;
}

.mybooking-selector_type .mb-custom-label:hover,
.mybooking-selector_type .mb-custom-label:focus,
.mybooking-selector_type .mb-custom-label:active {
  color: var(--mb-info-color);
}

.mybooking-selector_vertical .mybooking-selector_place,
.mybooking-selector_place {
  position: relative;
  width: 100%;
  min-width: 0;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_place {
    width: 66%;
  }
}

.mybooking-selector_location {
  position: relative;
}

.mybooking-selector_vertical .mybooking-selector_date,
.mybooking-selector_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_date {
    width: 33%;
  }
}

.mybooking-selector_vertical .mybooking-selector_simple_location,
.mybooking-selector_simple_location {
  width: 60%;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_simple_location {
    width: 70%;
  }
}

.mybooking-selector_vertical .mb-inline .mybooking-selector_simple_location,
.mb-inline .mybooking-selector_simple_location {
  width: 100%!important;
} @media ( min-width: 575.98px ) {
  .mb-inline .mybooking-selector_simple_location {
    width: 70%!important;
  }
}


.mybooking-selector_vertical .mybooking-selector_cal,
.mybooking-selector_cal {
  width: 60%;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_cal {
    width: 70%;
  }
}

.mybooking-selector_vertical .mb-inline .mybooking-selector_cal,
.mb-inline .mybooking-selector_cal {
  width: 100%!important;
} @media ( min-width: 575.98px ) {
  .mb-inline .mybooking-selector_cal {
    width: 70%!important;
  }
}

.mybooking-selector_hour {
  width: 50%;
}
.mybooking-selector_duration {
  width:  100%;
}

.mybooking-selector_vertical .mb-inline .mybooking-selector_hour,
.mb-inline .mybooking-selector_hour {
  width: 100%;
  min-width: 0;
} @media ( min-width: 575.98px ) {
  .mb-inline .mybooking-selector_hour {
    width: 30%;
  }
}

.mybooking-selector_footer {
  padding-top: 0.5rem;
}

/* Promo */

.mybooking-selector_promo {
  min-width: 20% !important;
}

.mybooking-selector_promo input:not([type="submit"]) {
  border: 1px solid var(--mb-selector-promo-border)!important;
  background-color: var(--mb-selector-promo-bg)!important;
  opacity: var(--mb-selector-promo-opacity);
}

.mybooking-selector_vertical .mybooking-selector_promo label,
.mybooking-selector_promo label {
  display: block;
  text-align: center!important;
  width: 100%
} @media ( min-width: 575.98px ) {
  .mybooking-selector_promo label {
    display: inline;
    text-align: left;
  }
}

.mybooking-selector_vertical .mybooking-selector_promo input:not([type="submit"]),
.mybooking-selector_promo input:not([type="submit"]) {
  padding-left: 0!important;
  text-align: center;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_promo input:not([type="submit"]) {
    padding-left: 0.5rem!important;
    text-align: left;
  }
}

/* Icons */

.mybooking-selector_field-icon {
  display: inline-block;
  line-height: normal;
}

.mybooking-selector .form-reservation-error + .mybooking-selector_field-icon {
  color: var(--mb-negative-text-color);
}

/* Custom location close */
.mybooking-selector_close-btn {
  position: absolute;
  right: 3%;
  top: 40%;
  background-color: transparent;
  color:  var(--mb-danger-color);
  padding: 0 !important;
}

.mybooking-selector_close-btn:hover {
  background-color: transparent;
  color:  var(--mb-border-color);
  padding: 0 !important;
}
