/*
*  MYBOOKING RESERVATION ENGINE - SELECTOR
*  -----------------------------------------------------------------------------
*/

.mybooking-selector {
  padding: var(--mb-selector-padding);
  background-color: var(--mb-selector-background);
  border: 1px solid var(--mb-selector-border-color);
}

.mybooking-selector_form {
  margin: 0;
}

.mybooking-selector_group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: 1rem;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_group {
    flex-direction: row;
  }
}

.mybooking-selector_group:last-of-type {
  margin: 0;
}

/* Form elements */

.mybooking-selector label {
  color: var(--mb-selector-label-color);
}

.mybooking-selector input,
.mybooking-selector select,
.mybooking-selector button {
  height: var(--mb-selector-field-height);
  margin: 0!important;
  opacity: 1;
}

.mybooking-selector input:not([type="submit"]) /* Not the buttons! */,
.mybooking-selector select {
  font-size: 14px!important;
  border: 1px solid var(--mb-border-color)!important;
  background-color: white!important;
  box-shadow: none;
  color: #424242!important;
  font-family: inherit;
  font-weight: 700!important;
}

.mybooking-selector input[disabled]:not([type="submit"]) /* Not the buttons! */,
.mybooking-selector select[disabled],
.mybooking-selector input[disabled]:not([type="submit"]) + .mybooking-selector_field-icon,
.mybooking-selector select[disabled] + .mybooking-selector_field-icon {
  background-color: #EEE!important;
  border: 1px solid #EEE!important;
  color: #CCC!important;
  cursor: not-allowed;
  font-weight: 400!important;
}

.mybooking-selector input:not([type="submit"]):focus /* Not the buttons! */,
.mybooking-selector select:focus {
  outline: none!important;
}

.mybooking-selector input.form-reservation-error,
.mybooking-selector input.form-reservation-error:focus,
.mybooking-selector select.form-reservation-error {
  background-color: var(--mb-danger-color)!important;
  color: white!important;
  border: 1px solid var(--mb-danger-color);
  font-weight: 700;
}

.mybooking-selector input.form-reservation-error,
.mybooking-selector input.form-reservation-error:focus {
  font-size: 0.9em;
  width: 55%;
}

.mybooking-selector label.form-reservation-error {
  position: absolute!important;
  clip: rect(0 0 0 0)!important;
  clip-path: inset(50%)!important;
  width: 1px!important;
  height: 1px!important;
  overflow: hidden!important;
  white-space: nowrap!important;
}

/* Placeholders */

.mybooking-selector ::placeholder {
  color: inherit!important;
  opacity: 1;
}

.mybooking-selector input.form-reservation-error::placeholder,
.mybooking-selector select.form-reservation-error::placeholder {
  color: var(--mb-negative-text-color)!important;
}

/* Sections */

.mybooking-selector_type {
  width: 100%;
  border-bottom: 1px solid var(--mb-border-color);
}

.mybooking-selector_type .mb-label {
  text-transform: uppercase;
  cursor: pointer;
}

.mybooking-selector_type .mb-label:hover {
  color: var(--mb-info-color);
}

.mybooking-selector_place {
  position: relative;
  width: 100%;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_place {
    width: 45%;
  }
}

.mybooking-selector_place select {
  padding-left: 1.7rem!important;
}

.mybooking-selector_location {
  position: relative;
}

.mybooking-selector_location select {
  padding-left: 1.7rem!important;
}

.mybooking-selector_date {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_date {
    width: 55%;
  }
}

.mybooking-selector_cal {
  position: relative;
  width: 60%;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_cal {
    width: 70%;
  }
}

.mybooking-selector_cal input {
  padding-left: 2.4rem!important;
}

.mb-inline .mybooking-selector_cal {
  width: 100%!important;
}

.mybooking-selector_hour {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_hour {
    width: 30%;
  }
}

.mybooking-selector_hour select {
  padding-left: 2rem!important;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_hour select {
    padding-left: 1.7rem!important;
  }
}

.mb-inline .mybooking-selector_hour {
  width: 100%!important;
  margin-top: -10px;
} @media ( min-width: 575.98px ) {
  .mb-inline .mybooking-selector_hour {
    max-width: 100px;
  }
}

.mybooking-selector_footer {
  padding-top: 0.5rem;
  border-top: 1px solid var(--mb-border-color);
}

.mybooking-selector_seats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.mybooking-selector_seats-item {
  display: flex;
  flex-direction: column;
  gap: 5px!important;
}

/* Promo */

.mb-inline .mybooking-selector_promo {
  min-width: 15%;
}

.mybooking-selector_promo label {
  display: block;
  text-align: center!important;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_promo label {
    display: inline;
    text-align: left;
  }
}

.mybooking-selector_promo input:not([type="submit"]) {
  padding-left: 0!important;
  text-align: center;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_promo input:not([type="submit"]) {
    padding-left: 0.5rem!important;
    text-align: left;
  }
}

/* Icons */

.mybooking-selector .form-reservation-error + .mybooking-selector_field-icon {
  color: var(--mb-negative-text-color);
}

.mybooking-selector_place .mybooking-selector_field-icon {
  position: absolute;
  display: inline!important;
  left: 3%;
  top: 57%;
}

.mybooking-selector_location .mybooking-selector_field-icon {
  position: absolute;
  display: inline!important;
  left: 5%;
  top: 57%;
}

.mybooking-selector_cal .mybooking-selector_field-icon {
  position: absolute;
  display: inline!important;
  left: 5%;
  top: 53%;
}

.mb-inline .mybooking-selector_cal .mybooking-selector_field-icon {
  position: absolute;
  display: inline!important;
  left: 5%;
  top: 53%;
} @media ( min-width: 575.98px ) {
  .mb-inline .mybooking-selector_cal .mybooking-selector_field-icon {
    left: 5%;
  }
}

.mybooking-selector_hour .mybooking-selector_field-icon {
  position: absolute;
  display: inline!important;
  left: 5%;
  top: 25%;
}

/* Buttons */

.mybooking-selector_button {
  width: 100%!important;
  padding: 0!important;
  border: none!important;
  outline: none!important;
  box-shadow: none!important;
  background-color: accentcolor!important;
  font-size: 18px!important;
  line-height: 1!important;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_button {
    flex-direction: row;
    align-self: flex-end;
    width: auto;
  }
}

.mb-inline .mybooking-selector_button {
  min-width: 18%;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding: 0;
}

/* Custom location close */
.mybooking-selector_close-btn {
  position: absolute;
  right: 3%;
  top: 40%;
  background-color: transparent;
  color:  var(--mb-danger-color);
  padding: 0 !important;
}

.mybooking-selector_close-btn:hover {
  background-color: transparent;
  color:  var(--mb-border-color);
  padding: 0 !important;
}
