/*
*  NYBOOKING RESERVATION ENGINE - PRODUCT
*  -----------------------------------------------------------------------------
*/


/** PRODUCT GRID **/

.mybooking-product_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  max-width: 1170px;
} @media (min-width: 576.98px) {
  .mybooking-product_grid {
    display: flex;
    flex-wrap: wrap;
  }
} @media (min-width: 991.98px) {
  .mybooking-product_grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.mybooking-product_column {
  flex: 1;
  flex-basis: 100%;
  flex-grow: 0;
} @media (min-width: 576.98px) {
  .mybooking-product_column {
    flex-basis: 50%;
  }
} @media (min-width: 991.98px) {
  .mybooking-product_column {
    flex-basis: 33.33333333333333333333333333333333333333333333333333333333333%;
  }
}


/** PRODUCT LIST **/

/*  Because list view doesn't apply for mobile,
    everything is wrapped in a media query.
    This way we have card view on mobile both
    for grid and list views */

@media ( min-width: 576.91px ) {

  /* Structure */

  .mybooking-product_list {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    max-width: 1170px;
  }

  .mybooking-product_list .mybooking-product {
    display: flex;
    flex-direction: row;
  }

  .mybooking-product_list .mybooking-product_block:first-of-type {
    width: 55%;
    padding: 32px;
    border-right: 1px solid #DDD;
  }

  .mybooking-product_list .mybooking-product_block:last-of-type {
    width: 45%;
  }

  .mybooking-product_list .mybooking-product_custom-message {
    position: relative;
    top: 0;
    background-color: #FFF;
    padding: 13px;
    color: #424242;
  }

  .mybooking-product_list .mybooking-product_header {
    padding: 10px 20px;
    background: #FFF;
  }

  .mybooking-product_list .mybooking-product_info-button {
    position: absolute;
    right: 30px;
    top: 82%;
    font-size: 28px;
    transition: ease-in-out 0.2ms;
    z-index: 1;
  }

} @media ( min-width: 991.98px ) {

  .mybooking-product_list .mybooking-product_block:first-of-type {
    width: 40%;
  }

  .mybooking-product_list .mybooking-product_block:last-of-type {
    width: 60%;
  }

  .mybooking-product_list .mybooking-product_amount {
    font-size: 26px;
  }

  .mybooking-product_list .mybooking-product_characteristics {
    max-width: 50%;
  }

  .mybooking-product_list .mb-button.btn-choose-product {
    width: 200px;
  }
}


/** PRODUCT FILTER **/

.mybooking-product_filter {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px;
}

.mybooking-product_filter-legend {
  margin-right: .5rem;
}

.mybooking-product_filter-select {
  margin-bottom: 0.5rem;
}

.mybooking-product_filter-btn-group .mb-button {
  margin-bottom: 0.5rem;
}

.mybooking-product_grid .mybooking-product_filter-grid {
  background-color: #424242;
  color: #FFF;
}

.mybooking-product_list .mybooking-product_filter-list {
  background-color: #424242;
  color: #FFF;
}


/** PRODUCT ITEM **/

.mybooking-product {
  position: relative;
  margin: 10px;
  border: 1px solid #DDD;
}

.mybooking-product_info-block {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DDD;
}

/* Product image */

.mybooking-product_image-container {
  width: 100%;
  height: 260px;
}

.mybooking-product_image {
  width: 100%;
  border-radius: 0;
}

.mybooking-product_info-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  transition: ease-in-out 0.2ms;
}

.mybooking-product_info-button:hover {
  cursor: pointer;
}

.mybooking-product_custom-message {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 220px;
  background-color: #999;
  padding: 13px;
  color: #FFF;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

/* Product header */

.mybooking-product_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
  height: 90px;
  border-bottom: 1px solid #DDD;
}

.mybooking-products_catalog .mybooking-product_header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: 40px;
  border-bottom: none;
  padding: 0;
  background-color: #0066BF;
  color: white;
}

.mybooking-product_price {
  width: 100%;
}

.mybooking-products_catalog .mybooking-product_price {
  padding: .5rem;
}

.mybooking-product_amount {
  display: inline-block;
  margin: 0;
  font-size: 1.7em;
  font-weight: 800;
  line-height: inherit;
}

.mybooking-products_catalog .mybooking-product_amount {
  display: inline-block;
  margin: 0;
  font-size: 1.3em;
  font-weight: 800;
  line-height: 1;
}

.mybooking-product_taxes {
  width: auto;
  float: right;
  text-align: right;
  line-height: 3;
  font-size: 14px;
}

.mybooking-product_discount {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.mybooking-product_discount-badge {
  display: inline-block;
  width: auto;
  float: right;
  margin-left: .5rem;
}

.mybooking-product_original-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

/* Product body */

.mybooking-product_body {
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  padding: 10px 20px 0 20px;
}

.mybooking-product_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.2;
}

.mybooking-product_quantity {
  color: #2193F2;
}

.mybooking-product_description {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
}

.mybooking-product_description li {
  padding: 0.3rem 0;
  border-bottom: 1px solid #DDD;
}

.mybooking-product_description p {
  margin: 0;
}

.mybooking-product_description li:last-of-type {
  border-bottom: none;
}

.mybooking-product_short-description {
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mybooking-product_low-availability {
  font-size: 12px;
  color: red;
}

.mybooking-product_price_supplement_supplement_1 {
  margin-top: -5px;
}

/* Key characteristics */

.mybooking-product_characteristics {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 1rem;
}

.mybooking-product_detail .mybooking-product_characteristics {
  border-bottom: 1px solid #DDD;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.mybooking-product_characteristics-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.mybooking-product_detail .mybooking-product_characteristics-item {
  width: 100%;
  margin-bottom: 20px;
}

.mybooking-product_characteristics-img {
  height: 30px;
  width: 30px;
}

.mybooking-product_detail .mybooking-product_characteristics-img {
  height: 40px;
  width: 40px;
}

.mybooking-product_characteristics-key {
  font-size: 13px;
}

.mybooking-product_detail .mybooking-product_characteristics-key {
  font-size: 14px;
}

/* Product footer */

.mybooking-product_footer {
  justify-content: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  padding: 0 20px 20px 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mybooking-product_not-available {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: red;
}

.mybooking-product_select {
  width: 100%;
}


/** PRODUCT DETAIL **/

.mybooking-product_detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #DDD;
}

.mybooking-product_detail-price {
  font-size: 1.2em;
  line-height: 2.5;
}

.mybooking-product_detail-amount {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--brand-primary, #2193F2);

}

.mybooking-product_detail-short {
  font-size: 1.3em;
  border-bottom: 1px solid #DDD;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.mybooking-product_calendar-step-list {
  counter-reset: steps-counter;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mybooking-product_calendar-step-list .mybooking-product_calendar-step {
  margin: 1rem 0 1rem 2rem;
  font-size: 1.1em;
  font-weight: 700;
  counter-increment: steps-counter;
  position: relative;
}
.mybooking-product_calendar-step-list .mybooking-product_calendar-step::before {
  content: counter(steps-counter);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: #424242;
  border-radius: 50%;
  text-align: center;
}

.mybooking-product_calendar select {
  min-width: 100%;
  margin-bottom: 0.5rem;
}


/** CAROUSEL **/
.mybooking-carousel-inner button.slick-prev, button.slick-next {
    border:  none;
    z-index:  1;
    height:  32px;
    background:  transparent !important;
}
.mybooking-carousel-inner button.slick-prev {
    left:  -40px;
}
.mybooking-carousel-inner button.slick-next {
    right: -42px;
}
