/*
*  MYBOOKING RESERVATION ENGINE - PRODUCT
*  -----------------------------------------------------------------------------
*/


/** PRODUCT GRID **/

.mybooking-product_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  max-width: 1170px;
} @media (min-width: 576.98px) {
  .mybooking-product_grid {
    display: flex;
    flex-wrap: wrap;
  }
} @media (min-width: 991.98px) {
  .mybooking-product_grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.mybooking-product_column {
  flex: 1;
  flex-basis: 100%;
  flex-grow: 0;
} @media (min-width: 576.98px) {
  .mybooking-product_column {
    flex-basis: 50%;
  }
} @media (min-width: 991.98px) {
  .mybooking-product_column {
    flex-basis: 33.33333333333333333333333333333333333333333333333333333333333%;
  }
}


/** PRODUCT LIST **/

/*  Because list view doesn't apply for mobile,
    everything is wrapped in a media query.
    This way we have card view on mobile both
    for grid and list views */

@media ( min-width: 576.91px ) {

  /* Structure */

  .mybooking-product_list {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 1170px;
  }

  .mybooking-product_list .mybooking-product {
    display: flex;
    flex-direction: row;
  }

  .mybooking-product_list .mybooking-product_block:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    border-right: 1px solid var(--mb-border-color);
    overflow: hidden;
  }

  .mybooking-product_list .mybooking-product_block:last-of-type {
    width: 45%;
  }

  .mybooking-product_list .mybooking-product_custom-message {
    position: relative;
    top: 0;
    padding: 13px;
    color: #424242;
  }

  .mybooking-product_list .mybooking-product_header {
    padding: 10px 20px;
  }

  .mybooking-product_list .mybooking-product_name {
    font-size: var(--mb-product-name-size-inline);
  }

  .mybooking-product_list .mybooking-product_info-button {
    position: absolute;
    right: 30px;
    top: 82%;
    font-size: 28px;
    transition: ease-in-out 0.2ms;
  }

} @media ( min-width: 991.98px ) {

  .mybooking-product_list .mybooking-product_block:first-of-type {
    width: 40%;
  }

  .mybooking-product_list .mybooking-product_block:last-of-type {
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .mybooking-product_list .mybooking-product_amount {
    font-size: 26px;
  }

  .mybooking-product_list .mybooking-product_characteristics {
    max-width: 50%;
  }

  .mybooking-product_list .mb-button.btn-choose-product {
    max-width: 300px;
  }
}


/** PRODUCT FILTER **/

.mybooking-product_filter {
  display: none;
}

@media ( min-width: 575.98px ) {
  .mybooking-product_filter {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}

.mybooking-product_filter-legend {
  margin-right: .5rem;
}

.mybooking-product_filter-select {
  margin-bottom: 0.5rem;
}

.mybooking-product_filter-btn-group {
  margin-bottom: 0.5rem;
}

.mybooking-product_filter-btn {
  margin-right: 1rem;
}

.mybooking-product_filter-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.mybooking-product_grid .mybooking-product_filter-btn.grid,
.mybooking-product_grid .mybooking-product_filter-btn.grid:hover,
.mybooking-product_list .mybooking-product_filter-btn.list,
.mybooking-product_list .mybooking-product_filter-btn.list:hover {
  color: #999;
  opacity: 1;
}


/** PRODUCT ITEM **/

.mybooking-product {
  position: relative;
  margin: 10px;
  border: 1px solid var(--mb-border-color);
}

.mybooking-product_info-block {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--mb-border-color);
}

/* Product image */

.mybooking-product_image-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--mb-product-image-height);
  overflow: hidden;
}

.mybooking-product_image {
  min-width: 100%!important;
  border-radius: 0!important;
}

.mybooking-product_info-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  transition: ease-in-out 0.2ms;
}

.mybooking-product_info-button:hover {
  cursor: pointer;
}

.mybooking-product_custom-message {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 220px;
  background-color: var(--mb-product-custom-message-bg);
  padding: 13px;
  color: var(--mb-product-custom-message-color);
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

/* Product header */

.mybooking-product_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
  height: var(--mb-product-header-height);
  border-bottom: 1px solid var(--mb-border-color);
  width: 100%;
}

.mybooking-product_price {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
  line-height: 1;
}

.mybooking-product_amount {
  display: inline-block;
  margin: 0;
  color: var(--mb-product-price-color);
  font-size: 1.7em;
  font-weight: 800!important;
  line-height: inherit;
}

.mybooking-products_catalog .mybooking-product_header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: var(--mb-catalog-price-height);
  border-bottom: none;
  padding: 0;
  background-color: var(--mb-catalog-price-bg);
  color: var(--mb-catalog-price-color);
}

.mybooking-products_catalog .mybooking-product_price {
  padding: .5rem;
}

.mybooking-products_catalog .mybooking-product_amount {
  display: inline-block;
  margin: 0;
  font-size: 1.3em;
  font-weight: 800;
  line-height: 1;
}

.mybooking-product_taxes {
  width: auto;
  float: right;
  text-align: right;
  line-height: 3;
  font-size: 14px;
}

.mybooking-product_discount {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.mybooking-product_discount-badge {
  display: inline-block;
  width: auto;
  float: right;
  margin-left: 0.5rem;
  margin-bottom: 0.7rem;
}

.mybooking-product_original-price {
  font-size: 14px;
  color: var(--mb-product-price-color);
  text-decoration: line-through;
}

/* Product body */

.mybooking-product_body {
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--mb-product-body-height);
  padding: 10px 20px 0 20px;
}

.mybooking-product_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 1.2;
}

.mybooking-product_quantity {
  color: #2193F2;
}

.mybooking-product_description {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 1rem;
}

.mybooking-product_description li {
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--mb-border-color);
}

.mybooking-product_description p {
  margin: 0;
}

.mybooking-product_description li:last-of-type {
  border-bottom: none;
}

.mybooking-product_short-description {
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mybooking-product_low-availability {
  font-size: 12px;
  color: red;
}

.mybooking-product_price_supplement_supplement_1 {
  margin-top: -5px;
}

/* Key characteristics */

.mybooking-product_characteristics {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 1rem;
}

.mybooking-product_detail .mybooking-product_characteristics {
  border-bottom: 1px solid var(--mb-border-color);
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.mybooking-product_characteristics-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.mybooking-product_characteristics-img {
  width: var(--mb-product-keys-icon-width);
}

.mybooking-product_characteristics-key {
  font-size: 13px;
}

/* Product footer */

.mybooking-product_footer {
  justify-content: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--mb-product-footer-height);
  padding: 0 20px 20px 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mybooking-product_not-available {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: red;
}

.mybooking-product_select {
  width: 100%;
}


/** PRODUCT DETAIL **/

.mybooking-product_detail-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} @media ( min-width: 575.98px ) {
  .mybooking-product_detail-header {
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid var(--mb-border-color);
  }
}

.mybooking-product_detail-price {
  font-size: 1.2em;
  line-height: 1;
} @media ( min-width: 575.98px ) {
  .mybooking-product_detail-price {
    line-height: 2.5;
  }
}

.mybooking-product_detail-amount {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--mb-product-price-color);

}

.mybooking-product_detail-short {
  font-size: 1.3em;
  border-bottom: 1px solid var(--mb-border-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.mybooking-product_calendar-step-list {
  counter-reset: steps-counter;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mybooking-product_calendar-step-list .mybooking-product_calendar-step {
  margin: 1rem 0 1rem 2rem;
  font-size: 1.1em;
  font-weight: 800;
  counter-increment: steps-counter;
  position: relative;
}

.mybooking-product_calendar-step-list .mybooking-product_calendar-step::before {
  content: counter(steps-counter);
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: var(--mb-calendar-step-bg);
  color: var(--mb-calendar-step-color);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: var(--mb-calendar-step-radius);
  text-align: center;
}

.mybooking-product_calendar select {
  min-width: 100%;
  margin-bottom: 0.5rem;
}

.mybooking-product_detail .mybooking-product_characteristics-item {
  width: 100%;
  margin-bottom: 20px;
}

.mybooking-product_detail .mybooking-product_characteristics-img {
  width: var(--mb-product-keys-icon-width-page);
}

.mybooking-product_detail .mybooking-product_characteristics-key {
  font-size: 14px;
}


/** CAROUSEL **/
.mybooking-carousel-inner button.slick-prev,
button.slick-next {
  border:  none;
  z-index:  1;
  height:  32px;
  background:  transparent !important;
}
.mybooking-carousel-inner button.slick-prev {
  left:  -40px;
}
.mybooking-carousel-inner button.slick-next {
  right: -42px;
}
