/** PRODUCT LIST **/

/*  Because list view doesn't apply for mobile,
    everything is wrapped in a media query.
    This way we have card view on mobile both
    for grid and list views */

@media ( min-width: 576.98px ) {

  /* Structure */

  .mybooking-product_list {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 900px;
  }

  .mybooking-product_list .mybooking-product {
    display: flex;
    flex-direction: row;
  }

  .mybooking-product_list .mybooking-product_block:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--mb-border-color);
    border-radius: var(--mb-border-radius) 0 0 var(--mb-border-radius);
    overflow: hidden;
  }

  .mybooking-product_list .mybooking-product_custom-message {
    position: relative;
    top: 0;
    padding: 13px;
  }

  .mybooking-product_list .mybooking-product_header {
    padding: 10px 1rem;
    border-top: none;
  }

  .mybooking-product_list .mybooking-product_name {
    font-size: var(--mb-product-list-name-size);
  }

} @media ( min-width: 991.98px ) {

  .mybooking-product_list .mybooking-product_block:first-of-type {
    width: var(--mb-product-list-left-width);
    width: 60%;
  }

  .mybooking-product_list .mybooking-product_block:last-of-type {
    width: var(--mb-product-list-right-width);
    width: 40%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  /*
  .mybooking-product_list .mybooking-product_image-container {
    height: var(--mb-product-list-image-height);
  }

  .mybooking-product_list .mybooking-product_header {
    height: var(--mb-product-list-header-height);
  }

  .mybooking-product_list .mybooking-product_body {
    height: var(--mb-product-list-body-height);
  }
  */

  .mybooking-product_list .mybooking-product_description {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    display: block;
  }

  .mybooking-product_list .mybooking-product_characteristics {
    width: var(--mb-product-list-keys-width);
    justify-content: flex-start;
  }

  .mybooking-product_list .mybooking-product_characteristics-img {
    width: var(--mb-product-list-keys-icon-width);
  }

  .mybooking-product_list .mybooking-product_footer {
    height: var(--mb-product-list-footer-height);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .mybooking-product_list .mybooking-product_amount {
    font-size: var(--mb-product-list-price-size);
  }

  .mybooking-product_list .mb-button.btn-choose-product {
    width: auto;
  }

  .mybooking-product_grid .mb-button.btn-choose-product {
    width: 100%;
  }
}

.mybooking-product_list .mybooking-product_block .mybooking-product_image {
  width: var(--mb-product-image-width-img);
  object-fit: var(--mb-product-image-fit);
  object-position: center center;
  padding: var(--mb-product-image-padding);
}

.mybooking-product_list .mybooking-product_name {
  margin: 0 0 2px 0 !important;
  font-weight: 800;
  font-size: var(--mb-product-name-size) !important;
}

.mybooking-product_list .mybooking-product_short-description {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 1em;
  color: var(--mb-muted-color);
}