/* Transfers selector */

.mybooking-selector_vertical.mybooking-selector {
  max-width: 460px;
}

.mybooking-selector_vertical .mybooking-selector_transfers-group,
.mybooking-selector_transfers-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem!important;
  justify-content: flex-start;
  margin-bottom: 1rem;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_transfers-group {
    flex-direction: row;
  }
}

.mybooking-selector_vertical .mybooking-selector_transfers-destination,
.mybooking-selector_transfers-destination {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_transfers-destination {
    flex-direction: row;
  }
}

.mybooking-selector_vertical .mybooking-selector_transfers-return,
.mybooking-selector_transfers-return {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-grow:  1;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_transfers-return {
    flex-direction: row;
  }
}

/** Return => Date **/
#return_block.mybooking-selector_date,
.mybooking-selector_transfers-destination + .mybooking-selector_date {
  width:  auto;
}

.mybooking-selector_vertical .mybooking-selector_seats,
.mybooking-selector_seats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  min-width: 0;
  margin-bottom: 1rem;
} @media ( min-width: 575.98px ) {
  .mybooking-selector_seats {
    width: 30%;
    margin-bottom: 0;
  }
}

.mybooking-selector_seats-item {
  display: flex;
  flex-direction: column;
  gap: 5px!important;
  min-width: 0;
}

.mybooking-selector_seats-item input[type="number"] {
  max-width: 100%;
}
