/*
*  MYBOOKING RESERVATION ENGINE - COMPATIBILITY
*  -----------------------------------------------------------------------------
*/

/** Complete and my reservation forms **/

form.mybooking-form select,
form.mybooking-form textarea,
form.mybooking-form input[type=text],
form.mybooking-form input[type=email],
form.mybooking-form input[type=url],
form.mybooking-form input[type=password],
form.mybooking-form input[type=search],
form.mybooking-form input[type=number],
form.mybooking-form input[type=tel],
form.mybooking-form input[type=date],
form.mybooking-form input[type=month],
form.mybooking-form input[type=week],
form.mybooking-form input[type=time],
form.mybooking-form input[type=datetime],
form.mybooking-form input[type=datetime-local],
form.mybooking-form input[type=color] {
  height:  var(--mb-form-field-height);
  width:  100%;
  min-width:  100%;
  border: 1px solid var(--mb-form-field-border-color)!important;
  border-radius: var(--mb-border-radius);
  background-color: var(--mb-form-field-background);
  font-size:  1em;
  min-height: 2.5em;
}

form.mybooking-form label {
  font-size:  1em;
}

form.mybooking-form textarea {
  border-color: var(--mb-form-field-border-color);
  min-width: 100%;
  width:  100%;
  height: 10rem;
  padding-top: 0.5rem!important;
  font-size:  1em;
}

form.mybooking-form select {
  font-size: small;
  text-align: center;
}

/*
 * Route renting product and Route activity compatibility with :
 *
 * - Twenty Nineteen
 * - Twenty Twenty
 * - Twenty Twenty One
 *
 */

@media only screen and (min-width: 768px) {
  body.mybooking-activity .mybooking-activity_container.alignwide,
  body.mybooking-product .mybooking-product_container.alignwide {
      margin: 0 10%;
      padding: 0 34px;
  }
}

/**
 * Route renting producto and Route activity compatibility with other themes
 */
@media only screen and (min-width: 768px) {
  body.mybooking-activity .mybooking.mybooking-activity_container:not(.alignwide),
  body.mybooking-product .mybooking.mybooking-product_container:not(.alignwide) {
      max-width: var(--mb-product-activity-route-max-width);
      margin: var(--mb-product-activity-route-margin);
  }
}

/*
 * Pages compatibility with the following themes: ;
 *
 * Twenty Nineteen
 * Twenty Twenty
 * Twenty Twenty One
 */

@media only screen and (min-width: 482px) {

  body.mybooking-activity .mybooking-activity_container.alignwide {
    max-width: var(--responsive--alignwide-width, 610px);
  }
  body.mybooking-product .mybooking-product_container.alignwide {
    max-width: var(--responsive--alignwide-width, 610px);
  }

  /* Twenty Nineteen */
  body.mybooking-product .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
  body.mybooking-activity .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator)
  {
    max-width: var(--responsive--alignwide-width, 610px);
  }
  /* Twenty Twenty */
  body.mybooking-product .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
  body.mybooking-activity .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide)
  {
    max-width: var(--responsive--alignwide-width, 610px);
  }
  /* Twenty Twenty One */
  body.mybooking-product .entry .entry-content > *,
  body.mybooking-activity .entry .entry-content > *
  {
    max-width: var(--responsive--alignwide-width, 610px);
  }
}

@media only screen and (min-width: 822px) {

  body.mybooking-activity .mybooking-activity_container.alignwide {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
  body.mybooking-product .mybooking-product_container.alignwide {
    max-width: var(--responsive--alignwide-width, 1240px);
  }

  /* Twenty Nineteen */
  body.mybooking-product .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
  body.mybooking-activity .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator)
  {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
  /* Twenty Twenty */
  body.mybooking-product .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
  body.mybooking-activity .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide)
  {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
  /* Twenty Twenty One */
  body.mybooking-product .entry .entry-content > *,
  body.mybooking-activity .entry .entry-content > *
  {
    max-width: var(--responsive--alignwide-width, 1240px);
  }
}
