/*
*  MYBOOKING RESERVATION ENGINE
*  -----------------------------------------------------------------------------
*
*/

:root {

  /* Structure */
  --mb-page-container-max-width: 1140px;  /* Theme compat */

  /* Color palette */
  --mb-accent-color: #2193F2;

  --mb-info-color: var(--mb-accent-color);
  --mb-primary-selected-date: #2193f2;
  --mb-secondary-selected-date: #9cdbf7;
  --mb-success-color: #3DD992;
  --mb-danger-color: #E6546E;
  --mb-warning-color: #FFB74D;
  --mb-lighter-color: #EEEEEE;
  --mb-light-color:  #DDDDDD;
  --mb-muted-color:  #666;

  --mb-border-color: #DDD;
  --mb-border-radius: 5px;
  --mb-background-color: #EEE;
  --mb-dark-background-color: #424242;
  --mb-negative-text-color: #FFF;

  /* Buttons - Gets third party theme colors and reset for Mybooking theme compatibility */
  --mb-button-border-radius: var(--btn-border-radius);
  --mb-button-font-weight: var(--btn-font-w);
  
  --mb-placeholder-text-color: #888;

  /* Forms */
  --mb-form-field-height:  42px;
  --mb-form-field-border-color:  var(--mb-border-color);
  --mb-form-field-required-border-color: #AAA;
  --mb-form-field-background: white;

  /* Selector form */
  --mb-selector-label-color: currentcolor;
  --mb-selector-padding: 1rem;
  --mb-selector-background: white;
  --mb-selector-border-color: var(--mb-form-field-border-color);
  --mb-selector-field-height: var(--mb-form-field-height);
  

  --mb-selector-promo-border: var(--mb-form-field-border-color);
  --mb-selector-promo-bg: white;
  --mb-selector-promo-opacity: 1;

  /* Product box */
  --mb-product-separation: 0.7rem;
  --mb-product-background: white;
  --mb-product-border-color: var(--mb-border-color);

  /* Product grid */
  --mb-product-info-color: #ffffff;
  --mb-product-image-height: 250px;
  --mb-product-image-width-img: 100%;
  --mb-product-image-fit: contain;
  --mb-product-image-padding:  20px;
  --mb-product-header-height: 75px;
  --mb-product-body-height: 90px;
  --mb-product-footer-height: 76px;
  --mb-product-btn-height: 50px;

  /* Product custom message */
  --mb-product-custom-message-bg: rgba(255,255,255,0.7);
  --mb-product-custom-message-color: currentcolor;

  /* Product text */
  --mb-product-name-size: 1.3rem;
  --mb-product-name-width: 300px;
  --mb-product-description-width: 300px;
  --mb-product-price-color: var(--mb-info-color);
  --mb-product-price-size: 1.3rem;
  --mb-product-quantity-color: #2193F2;

  /* Product icons */
  --mb-product-list-keys-width: auto;
  --mb-product-list-keys-icon-width: 25px;
  --mb-product-list-key-show: inherit;

  --mb-product-keys-icon-width: 25px;
  --mb-product-keys-icon-width-page: 40px;

  /* Product detail */
  --mb-product-info-border: var(--mb-border-color);
  --mb-product-info-background: transparent;

  --mb-product-detail-bg: transparent;
  --mb-product-detail-border: var(--mb-border-color);
  --mb-product-detail-color: currentcolor;

  --mb-product-total-border: var(--mb-border-color);
  --mb-product-total-bg: #FFF;
  --mb-product-total-color: currentcolor;
  --mb-product-total-amount-size: 1.3em;
  --mb-product-total-amount-color: var(--mb-info-color);

  --mb-product-activity-route-max-width: none;
  --mb-product-activity-route-margin: none;

  /* Product catalog view */
  --mb-catalog-price-height: 40px;
  --mb-catalog-price-bg: #0066BF;
  --mb-catalog-price-color: var(--mb-negative-text-color);

  /* Single product calendar */
  --mb-calendar-step-bg: var(--mb-dark-background-color);
  --mb-calendar-step-color: var(--mb-negative-text-color);
  --mb-calendar-step-radius: 50%;
  --mb-calendar-available: var(--mb-success-color);
  --mb-calendar-available-hover: var(--mb-info-color);
  --mb-calendar-booked: var(--mb-danger-color);
  --mb-calendar-disabled: var(--mb-background-color);
  --mb-calendar-first-last-date:  var(--mb-primary-selected-date);
  --mb-calendar-checked-date:  var(--mb-secondary-selected-date);

  /* Panel container */
  --mb-panel-container-border-radius: var(--mb-border-radius);
  --mb-panel-container-border-color: transparent;
  --mb-panel-container-text-color: var(--mb-text-color);

  /* Complete payment buttons */
  --mb-payment-option-btn-bg: var(--mb-dark-background-color);
  --mb-payment-option-btn-color: var(--mb-negative-text-color);

  /* Resume locator code */
  --mb-summary-locator-color: var(--mb-info-color);

  /* Popup modules */
  --mb-popup-background: #FFF;
  --mb-popup-width-desk: 50vw;
  --mb-popup-height-desk: auto;
  --mb-popup-width-mobile: 90vw;
  --mb-popup-height-mobile: 90vh;
  --mb-popup-close-btn-color: currentcolor;
  --mb-popup-close-btn-size: 2em;

  /* Cookies warning panel */
  --mb-cookies-background: #FFF;
  --mb-cookies-color: currentcolor;
  --mb-cookies-btn-background: var(--mb-dark-background-color);
  --mb-cookies-btn-color: var(--mb-negative-text-color);

  /** Wizard **/
  --mb-wizard-bg-color: white;
  --mb-wizard-content-width: 900px;
}


/** FLOATED GRID **/

.mb-row {
  margin: 0 1rem;
  clear: both;
}

.mb-row.invert {
  display: flex;
  flex-direction: column;
} @media ( min-width: 575.98px ) {
  .mb-row.invert {
    flex-direction: row-reverse;
  }
}

.mb-row-flex {
  display: flex;
  flex-direction: column;
} @media ( min-width: 575.98px ) {
  .mb-row-flex {
    flex-direction: row;
  }
}/* Fixes row overflow in certain themes */



/* Columns */

[class*='mb-col-sm-'],
[class*='mb-col-md-'],
[class*='mb-col-lg-'] {
  float: left;
  padding: 0.8rem;
}

.mb-col-sm-1        { width: 8.33%; }
.mb-col-sm-2        { width: 16.66%; }
.mb-col-sm-3        { width: 25%; }
.mb-col-sm-4        { width: 33.33%; }
.mb-col-sm-5        { width: 41.66%; }
.mb-col-sm-6        { width: 50%; }
.mb-col-sm-7        { width: 58.33%; }
.mb-col-sm-8        { width: 66.66%; }
.mb-col-sm-9        { width: 75%; }
.mb-col-sm-10       { width: 83.33%; }
.mb-col-sm-11       { width: 91.66%; }
.mb-col-sm-12       { width: 100%; }

[class*='mb-col-md-'],
[class*='mb-col-lg-'] {
  width: 100%;
} /* Stacked by default on mobile */

@media only screen and ( min-width: 575.98px ) {
  .mb-col-md-1        { width: 8.33%; }
  .mb-col-md-2        { width: 16.66%; }
  .mb-col-md-3        { width: 25%; }
  .mb-col-md-4        { width: 33.33%; }
  .mb-col-md-5        { width: 41.66%; }
  .mb-col-md-6        { width: 50%; }
  .mb-col-md-7        { width: 58.33%; }
  .mb-col-md-8        { width: 66.66%; }
  .mb-col-md-9        { width: 75%; }
  .mb-col-md-10       { width: 83.33%; }
  .mb-col-md-11       { width: 91.66%; }
  .mb-col-md-12       { width: 100%; }


  .mb-col-md-offset-1        { margin-left: 8.33%; }
  .mb-col-md-offset-2        { margin-left: 16.66%; }
  .mb-col-md-offset-3        { margin-left: 25%; }
  .mb-col-md-offset-4        { margin-left: 33.33%; }
  .mb-col-md-offset-5        { margin-left: 41.66%; }
  .mb-col-md-offset-6        { margin-left: 50%; }
  .mb-col-md-offset-7        { margin-left: 58.33%; }
  .mb-col-md-offset-8        { margin-left: 66.66%; }
  .mb-col-md-offset-9        { margin-left: 75%; }
  .mb-col-md-offset-10       { margin-left: 83.33%; }
  .mb-col-md-offset-11       { margin-left: 91.66%; }
  .mb-col-md-offset-12       { margin-left: 100%; }

  [class*='mb-col'] {
    padding: 1rem;
  }
}

@media only screen and ( min-width: 991.98px ) {
  .mb-col-lg-1        { width: 8.33%; }
  .mb-col-lg-2        { width: 16.66%; }
  .mb-col-lg-3        { width: 25%; }
  .mb-col-lg-4        { width: 33.33%; }
  .mb-col-lg-5        { width: 41.66%; }
  .mb-col-lg-6        { width: 50%; }
  .mb-col-lg-7        { width: 58.33%; }
  .mb-col-lg-8        { width: 66.66%; }
  .mb-col-lg-9        { width: 75%; }
  .mb-col-lg-10       { width: 83.33%; }
  .mb-col-lg-11       { width: 91.66%; }
  .mb-col-lg-12       { width: 100%; }

  .mb-col-lg-offset-1        { margin-left: 8.33%; }
  .mb-col-lg-offset-2        { margin-left: 16.66%; }
  .mb-col-lg-offset-3        { margin-left: 25%; }
  .mb-col-lg-offset-4        { margin-left: 33.33%; }
  .mb-col-lg-offset-5        { margin-left: 41.66%; }
  .mb-col-lg-offset-6        { margin-left: 50%; }
  .mb-col-lg-offset-7        { margin-left: 58.33%; }
  .mb-col-lg-offset-8        { margin-left: 66.66%; }
  .mb-col-lg-offset-9        { margin-left: 75%; }
  .mb-col-lg-offset-10       { margin-left: 83.33%; }
  .mb-col-lg-offset-11       { margin-left: 91.66%; }
  .mb-col-lg-offset-12       { margin-left: 100%; }


  [class*='mb-col'] {
    padding: 1.25rem;
  }
}

.mb-col-sm-hidden {
  @media only screen and ( max-width: 575.97px ) {
    display: none;
  }
}
.mb-col-md-hidden {
  @media only screen and ( min-width: 575.98px ) and ( max-width: 991.97px ) {
    display: none;
  }
} 
.mb-col-lg-hidden {
  @media only screen and ( min-width: 991.98px ) {
    display: none;
  }
}

/* Grid Helpers */

.mb-col-right {
  float: right;
} /* Flips column order if applied to starting column */

.mb-col-center {
  float: none;
  margin: 0 auto;
} /* Centers column if less than mb-col-*-12 */


/** CONTAINERS **/

.mb-section:not(:last-child) {
  margin-bottom: 1rem;
}

.mb-section_title {
  text-align: center;
} @media ( min-width: 575.98px ) {
  .mb-section_title {
    text-align: left;
  }
}

.mb-sidebar_title {
  
}

/* Container panel used on complete, summary and my reservation */
.mb-panel-container {
  border-radius: var(--mb-panel-container-border-radius)!important;
  border: 1px solid var(--mb-panel-container-border-color)!important;
  background-color: white!important;
  padding: 1rem;
  color: var(--mb-panel-container-text-color)!important;
}

/** FORMS & FIELDS **/
.mybooking * {
  outline: none;
}

.mybooking h1,
.mybooking h2 {
  line-height: 2.5rem;
}

.mybooking h3,
.mybooking h4,
.mybooking h5,
.mybooking h6 {
  line-height: 1.5rem;
}

.mybooking select,
.mybooking textarea,
.mybooking input[type=text],
.mybooking input[type=email],
.mybooking input[type=url],
.mybooking input[type=password],
.mybooking input[type=search],
.mybooking input[type=number],
.mybooking input[type=tel],
.mybooking input[type=date],
.mybooking input[type=month],
.mybooking input[type=week],
.mybooking input[type=time],
.mybooking input[type=datetime],
.mybooking input[type=datetime-local],
.mybooking input[type=color] {
  width: 100%;
  height: var(--mb-form-field-height);
  border: 1px solid var(--mb-form-field-border-color)!important;
  border-radius: var(--mb-border-radius);
  background-color: var(--mb-form-field-background);
  font-size: 1em;
}

.mybooking textarea {
  padding-top: 0.5rem;
}

/* IOS appearance standar */
form.mybooking select,
.mybooking-selector form.mybooking-selector_form select.mb-form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url(images/arrow.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 16px;
    background-size: 16px;
}

.mybooking textarea {
  height: 10rem;
}

/* Form classes */

.mybooking-form {
  width: 100%;
}

.mb-form_legend {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.mb-form-group:not([class*='mb-col-']) {
  width: 100%;
}

.mb-form-group label,
.mb-label,
label {
  display:  block;
  margin: 0.6rem 0.1rem!important;
  line-height: 1rem;
}

.mb-form-group input:not([type=checkbox]):not([type=radio]):not([type=submit]),
.mb-input {
  display: inline-block;
  width: 100%;
}

.mb-form_checkbox label,
.mb-form_checkbox input {
  display: inline-block;
  width: auto;
  margin-left: 0.5rem!important;
}

.mb-input_hidden {
  position: absolute!important;
  clip: rect(0 0 0 0)!important;
  clip-path: inset(50%)!important;
  width: 1px!important;
  height: 1px!important;
  overflow: hidden!important;
  white-space: nowrap!important;
  z-index: 999999
}

.mb-form-row {
  display: inline-block;
  width: 100%;
} @media ( min-width: 575.98px ) {
  .mb-form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 1rem;
    margin: 0;
  }
  .mb-form-row.js-mybooking-product_calendar-time-hours {
    flex-direction: column;
  }
  .mb-form-row.js-mybooking-product_calendar-time-hours .mb-form-group {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .mb-form-row.js-mybooking-product_calendar-time-hours select {
    margin-bottom: 0;
  }
  .mb-form-row.js-mybooking-product_calendar-time-hours .mb-form-group {
    padding-top: 0.5rem;
  }
  .mb-form-row.js-mybooking-product_calendar-time-hours select {
    color: initial !important;
  }
  .mb-form-row.js-mybooking-product_calendar-time-hours .form-reservation-error {
    margin-bottom: 0.5rem;
  }
  .mb-form-row.mb-custom-date-form {
    gap: 0.5rem;
  }
}

.mb-form-row [class*='mb-col'] {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
} @media only screen and ( max-width: 768px ) {
  .mb-form-row {
    display: inline-block;
  }

  .mb-form-row [class*='mb-col-md-'],
  .mb-form-row [class*='mb-col-lg-'] {
    width: 100%;
  }
}

.mb-form-control {
  width: 100%;
  margin-bottom: 0.5rem;
} @media ( min-width: 575.98px ) {
  .mb-form-control {
    margin-bottom: 0;
  }
}

.mb-custom-date-form {
  display: flex;
}

.mb-custom-date-form .mb-custom-date-item {
  width:  33.33333%;
}

.mb-custom-date-form select {
  min-width: 100%;
  margin-bottom: 0.5rem;
  height: var(--mb-selector-field-height);
} @media ( min-width: 575.98px ) {
  .mb-custom-date-form select {
    margin: 0;
  }
}

.mybooking-form  .mb-form-row {
  align-items: flex-start;
}

/* Select2 */
.select2-container--bootstrap4 .select2-selection {
    border: 1px solid var(--mb-form-field-border-color);
    border-radius: var(--mb-border-radius);
    margin-bottom: 0.5rem;
} @media ( min-width: 575.98px ) {
  .select2-container--bootstrap4 .select2-selection {
      margin-bottom: 0;
  }
}

.select2-container--bootstrap4 .select2-selection--single {
    height: var(--mb-form-field-height)!important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: var(--mb-form-field-height);
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    margin-top: -3px;
}

.select2-dropdown {
    min-width: 320px;
    border: 1px solid var(--mb-form-field-border-color);
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
  border-radius: var(--mb-border-radius);
} @media ( min-width: 575.98px ) {
  .select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
    margin-top: -1.2rem;
  }
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
    background-color: var(--mb-info-color);
    color: var(--mb-negative-text-color);
}

/** UI ELEMENTS **/

/* Buttons */
.mb-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  line-height: 1.1;
  text-decoration: none!important;
  font-weight: var(--mb-button-font-weight);
  border-radius: var(--mb-button-border-radius);
  text-transform: uppercase;
}

.mb-button:disabled,
.mb-button[disabled],
.mb-button:disabled:hover,
.mb-button[disabled]:hover {
  cursor: not-allowed;
  /*background-color: var(--mb-button-bg-color)!important;
  border-color: var(--mb-button-border-color)!important;*/
}

.mb-button a,
.mb-button a:visited,
.mb-button a:hover,
button.mb-button a,
button.mb-button a:visited,
button.mb-button a:hover  {
  text-decoration: none!important;
  color:  currentcolor;
}

.mb-button.block {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

.mb-button.icon {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
}

.mb-button.navigation {
  padding: .5rem;
  font-size: 80%;
  color: inherit;
  background-color: #FFF;
  border: 1px solid var(--mb-border-color);
}

.mb-button.link {
  display: inline-block;
  margin-top: 1rem;
  color: var(--mb-info-color);
  text-decoration: underline;
  cursor: pointer;
}

.mb-button.mb-accent-color {
  background-color: var(--mb-accent-color) !important;
  color: var(--mb-negative-text-color) !important;
}

/* Badges */
.mb-badge {
  padding: 2px 5px;
  margin: 0 1px;
  border-radius: 3px;
  background-color: var(--mb-dark-background-color);
  color: var(--mb-negative-text-color);
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}

.mb-badge.info         { background-color: var(--mb-info-color) }
.mb-badge.success      { background-color: var(--mb-success-color) }
.mb-badge.danger       { background-color: var(--mb-danger-color) }
.mb-badge.warning      { background-color: var(--mb-warning-color) }

.mb-badge.big {
  padding: 4px 16px;
  font-size: 1em;
  line-height: 2;
}

/* Alerts */
.mb-alert {
  position: relative;
  padding: .75rem 1.25rem!important; /* Forces any element inside to get alert's padding */
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: var(--mb-border-radius);
  color: var(--mb-dark-background-color);
  line-height: 1.2;
  /*text-align: center;*/
}

.mb-alert.light         { background-color: var(--mb-light-color) }
.mb-alert.lighter       { background-color: var(--mb-lighter-color) }
.mb-alert.secondary     { background-color: var(--mb-background-color) }
.mb-alert.info          { background-color: var(--mb-info-color) }
.mb-alert.success       { background-color: var(--mb-success-color) }
.mb-alert.danger        { background-color: var(--mb-danger-color) }
.mb-alert.warning       { background-color: var(--mb-warning-color) }

.mb-alert.info {
  color: var(--mb-negative-text-color)!important; /* Forces any element inside to get contrast color */
}

.mb-alert.danger {
  color: var(--mb-negative-text-color)!important; /* Forces any element inside to get contrast color */
}

.mb-alert.highlight {
  padding: 1.25rem;
  background-color: var(--mb-info-color);
  color: var(--mb-negative-text-color)!important; /* Forces any element inside to get contrast color */
  font-size: 1.4em;
  text-align: center;
}

/* Text */
.mb-text-danger {
  color: var(--mb-danger-color)!important; /* Forces any element to get danger color */
}

.mb-text-success {
  color: var(--mb-success-color)!important; /* Forces any element to get success color */
}

.mb-text-negative {
  color: var(--mb-negative-text-color)!important; /* Forces any element to get negative color */
}

.mb-text-light {
  color: var(--mb-light-color)!important; /* Forces any element to get light color */
}

.mb-text-light {
  color: var(--mb-muted-color)!important; /* Forces any element to get light color */
}

/* Cards */
.mb-card {
  display: block;
  border: 1px solid var(--mb-border-color);
  background-color: #fff;
}

.mb-card.inline {
  display: flex;
  align-items: center;
}

.mb-card::after {
  display: block;
  content: "";
  clear: both;
}

.mb-card_header {
  background-color: var(--mb-background-color);
  margin: 0 0 1rem 0;
  padding: 1rem;
  border-bottom: 1px solid var(--mb-border-color);
}

.mb-card_header h2,
.mb-card_header h3,
.mb-card_header h4,
.mb-card_header h5 {
  margin: 0;
}

.mb-card_body {
  padding: 1rem;
}

.mb-card_footer {
  display: flex;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border-top: 1px solid var(--mb-border-color);
} @media ( max-width: 758px ) {
  .mb-card_footer {
    justify-content: center;
  }
}

/* Lists */
.mb-list {
  padding: 0;
  margin: 0 0 1rem 0!important;
  list-style: none;
}

.mb-list_title {
  font-size: 1.6em;
}

.mb-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.mb-list-item.mb-justify-flex-start {
  justify-content: flex-start;
}

.mb-list-item.mb-align-flex-center {
  align-items: center;
}

.mb-list.border {
  display: block;
  border: 1px solid var(--mb-border-color);
  border-radius: var(--mb-border-radius);
  background-color: #FFF;
  padding: 1rem;
}

.mb-list.border::after {
  display: block;
  content: "";
  clear: both;
}

.mb-list.border .mb-list-item {
  border-bottom: 1px solid var(--mb-border-color);
  padding: 0.5rem 1rem;
  padding-left: 0!important;
}

.mb-list.border .mb-list-item:last-of-type {
  border-bottom: none;
}

.mb-list.shadow {
  box-shadow: 0 0 20px 5px var(--mb-light-color);
  padding: 0.5rem 1rem;
}

.mb-list-element.secondary {
  font-weight: 800;
}

.mb-list-element.info {
  font-weight: 800;
  color: var(--mb-info-color);
}

.mb-list-element.success {
  font-weight: 800;
  color: var(--mb-success-color);
}

.mb-list-element.danger {
  font-weight: 800;
  color: var(--mb-danger-color);
}

.mb-list-element.warning {
  font-weight: 800;
  color: var(--mb-warning-color);
}

/* Pagination */
.mb-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Tabs */
.mb-tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--mb-border-color);
  margin-bottom: 1em;
}

.mb-tabs_item-text {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.mb-input_hidden:checked + .mb-tabs_item-text {
  border: 1px solid var(--mb-border-color);
  border-bottom-color: white;
  margin-bottom: -1px;
}

/** PROCESS PAGES **/
.mybooking-process-page {
  background-color: var(--mb-process-page-background);
  clear: both;
}

.mybooking-page-container {
  max-width: var(--mb-page-container-max-width);
  margin: 0 auto;
}

/* Complete page */
.mybooking-process_complete .complete-section-title {
  margin-bottom: 0.7rem;
}

/* Complete page, Summary page, My-reservation page */
.mybooking-process_complete .mybooking-product_description,
.mybooking-process_summary .mybooking-product_description,
.mybooking-process_reservation .mybooking-product_description {
  max-height: 10rem!important;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 1rem;
}

/* Summary page *//* Reservation page */
.mybooking-process_summary .mybooking-product_header,
.mybooking-process_reservation .mybooking-product_header {
  background-color: #D5D5D5;
  border: 1px solid var(--mb-border-color);
  border-top: none;
}

/** COMPATIBILITY **/

/* Route renting producto and Route activity compatibility with other themes */
@media only screen and (min-width: 768px) {
  body.mybooking-activity .mybooking.mybooking-activity_container:not(.alignwide),
  body.mybooking-product .mybooking.mybooking-product_container:not(.alignwide) {
      max-width: var(--mb-product-activity-route-max-width);
      margin: var(--mb-product-activity-route-margin);
  }
}

/* WordPress themes: Twenty Nineteen * Twenty Twenty * Twenty Twenty One */

body.mybooking-product .entry,
body.mybooking-activity .entry {
  width: 100%;
}

@media only screen and (min-width: 482px) {

  body.mybooking-activity .mybooking-activity_container.alignwide {
    // max-width: var(--responsive--alignwide-width, 610px);
    margin: 0 auto;
  }
  body.mybooking-product .mybooking-product_container.alignwide {
    // max-width: var(--responsive--alignwide-width, 610px);
    margin: 0 auto;
  }

  /* Twenty Nineteen */
  body.mybooking-product .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
  body.mybooking-activity .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator)
  {
    // max-width: var(--responsive--alignwide-width, 610px);
    margin: 0 auto;
  }
 
  /* Twenty Twenty One */
  body.mybooking-product .entry .entry-content > *,
  body.mybooking-activity .entry .entry-content > *
  {
    // max-width: var(--responsive--alignwide-width, 610px);
    margin: 0 auto;
  }
}

@media only screen and (min-width: 822px) {

  body.mybooking-activity .mybooking-activity_container.alignwide {
    max-width: var(--responsive--alignwide-width, 1240px);
    margin: 0 auto;
  }
  body.mybooking-product .mybooking-product_container.alignwide {
    max-width: var(--responsive--alignwide-width, 1240px);
    margin: 0 auto;
  }

  /* Twenty Nineteen */
  body.mybooking-product .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator),
  body.mybooking-activity .entry .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator)
  {
    max-width: var(--responsive--alignwide-width, 1240px);
    margin: 0 auto;
  }

  /* Twenty Twenty One */
  body.mybooking-product .entry .entry-content > *,
  body.mybooking-activity .entry .entry-content > *
  {
    max-width: var(--responsive--alignwide-width, 1240px);
    margin: 0 auto;
  }
}


/* ////////////////////////////////////////////////////////////////// */
