 /*
*  MYBOOKING HELPERS
*  --------------------------------------------------------------------------- *
*  1- BACKGROUNDS
*  2- BORDERS
*  3- MARGINS
*  4- PADDINGS
*  5- POSITIONS
*  6- WIDTHS AND HEIGHTS
*  7- TEXT
*/

/* BACKGROUNDS ********************************************************************/

.mb--bg-white {
  background-color: white!important;
  color: var(--mb-text-color)!important;
  border-color: white!important;
}

.mb--bg-info {
  background-color: var(--mb-info-color)!important;
  color: var(--mb-negative-text-color)!important;
  border-color: var(--mb-info-color)!important;
}

.mb--bg-success {
  background-color: var(--mb-success-color)!important;
  color: var(--mb-negative-text-color)!important;
  border-color: var(--mb-success-color)!important;
}

.mb--bg-danger {
  background-color: var(--mb-danger-color)!important;
  color: var(--mb-negative-text-color)!important;
  border-color: var(--mb-danger-color)!important;
}

.mb--bg-warning {
  background-color: var(--mb-warning-color)!important;
  color: var(--mb-negative-text-color)!important;
  border-color: var(--mb-warning-color)!important;
}

/* BORDERS ********************************************************************/

[class*=".mb--b-"] {
  border: none!important;
}

.mb--b-1 {
  border: 1px solid var(--mb-border-color)!important;
}

.mb--b-2 {
  border: 2px solid var(--mb-border-color)!important;
}

.mb--b-3 {
  border: 3px solid var(--mb-border-color)!important;
}

.mb--b-4 {
  border: 4px solid var(--mb-border-color)!important;
}

.mb--col-b-1 {
  border-top: 1px solid var(--mb-border-color)!important;
  border-bottom: 1px solid var(--mb-border-color)!important;
}

.mb--col-b-2 {
  border-top: 2px solid var(--mb-border-color)!important;
  border-bottom: 2px solid var(--mb-border-color)!important;
}

.mb--col-b-3 {
  border-top: 3px solid var(--mb-border-color)!important;
  border-bottom: 3px solid var(--mb-border-color)!important;
}

.mb--col-b-4 {
  border-top: 4px solid var(--mb-border-color)!important;
  border-bottom: 4px solid var(--mb-border-color)!important;
}

.mb--row-b-1 {
  border-left: 1px solid var(--mb-border-color)!important;
  border-right: 1px solid var(--mb-border-color)!important;
}

.mb--row-b-2 {
  border-left: 2px solid var(--mb-border-color)!important;
  border-right: 2px solid var(--mb-border-color)!important;
}

.mb--row-b-3 {
  border-left: 3px solid var(--mb-border-color)!important;
  border-right: 3px solid var(--mb-border-color)!important;
}

.mb--row-b-4 {
  border-left: 4px solid var(--mb-border-color)!important;
  border-right: 4px solid var(--mb-border-color)!important;
}

.mb--bt-1 {
  border-top: 1px solid var(--mb-border-color)!important;
}

.mb--bt-2 {
  border-top: 2px solid var(--mb-border-color)!important;
}

.mb--bt-3 {
  border-top: 3px solid var(--mb-border-color)!important;
}

.mb--bt-4 {
  border-top: 4px solid var(--mb-border-color)!important;
}

.mb--bb-1 {
  border-bottom: 1px solid var(--mb-border-color)!important;
}

.mb--bb-2 {
  border-bottom: 2px solid var(--mb-border-color)!important;
}

.mb--bb-3 {
  border-bottom: 3px solid var(--mb-border-color)!important;
}

.mb--bb-4 {
  border-bottom: 4px solid var(--mb-border-color)!important;
}

.mb--bl-1 {
  border-left: 1px solid var(--mb-border-color)!important;
}

.mb--bl-2 {
  border-left: 2px solid var(--mb-border-color)!important;
}

.mb--bl-3 {
  border-left: 3px solid var(--mb-border-color)!important;
}

.mb--bl-4 {
  border-left: 4px solid var(--mb-border-color)!important;
}

.mb--br-1 {
  border-right: 1px solid var(--mb-border-color)!important;
}

.mb--br-2 {
  border-right: 2px solid var(--mb-border-color)!important;
}

.mb--br-3 {
  border-right: 3px solid var(--mb-border-color)!important;
}

.mb--br-4 {
  border-right: 4px solid var(--mb-border-color)!important;
}

.mb--no-b {
  border: none!important;
}

.mb--no-bt {
  border-top: none!important;
}

.mb--no-bb {
  border-bottom: none!important;
}

.mb--no-bl {
  border-left: none!important;
}

.mb--no-br {
  border-right: none!important;
}

/* BORDERS RADIUS */
.mb--br--rd {
  border-radius: var(--mb-border-radius);
}


/* MARGINS ********************************************************************/

[class*=".mb--m-"] {
  margin: 0!important;
}

.mb--m-1 {
  margin: 1rem!important;
}

.mb--m-2 {
  margin: 2rem!important;
}

.mb--m-3 {
  margin: 3rem!important;
}

.mb--m-4 {
  margin: 4rem!important;
}

.mb--col-m-1 {
  margin: 1rem 0!important;
}

.mb--col-m-2 {
  margin: 2rem 0!important;
}

.mb--col-m-3 {
  margin: 3rem 0!important;
}

.mb--col-m-4 {
  margin: 4rem 0!important;
}

.mb--row-m-1 {
  margin: 0 1rem!important;
}

.mb--row-m-2 {
  margin: 0 2rem!important;
}

.mb--row-m-3 {
  margin: 0 3rem!important;
}

.mb--row-m-4 {
  margin: 0 4rem!important;
}

.mb--mt-1 {
  margin-top: 1rem!important;
}

.mb--mt-2 {
  margin-top: 2rem!important;
}

.mb--mt-3 {
  margin-top: 3rem!important;
}

.mb--mt-4 {
  margin-top: 4rem!important;
}

.mb--mb-1 {
  margin-bottom: 1rem!important;
}

.mb--mb-2 {
  margin-bottom: 2rem!important;
}

.mb--mb-3 {
  margin-bottom: 3rem!important;
}

.mb--mb-4 {
  margin-bottom: 4rem!important;
}

.mb--ml-1 {
  margin-left: 1rem!important;
}

.mb--ml-2 {
  margin-left: 2rem!important;
}

.mb--ml-3 {
  margin-left: 3rem!important;
}

.mb--ml-4 {
  margin-left: 4rem!important;
}

.mb--mr-1 {
  margin-right: 1rem!important;
}

.mb--mr-2 {
  margin-right: 2rem!important;
}

.mb--mr-3 {
  margin-right: 3rem!important;
}

.mb--mr-4 {
  margin-right: 4rem!important;
}

.mb--no-m {
  margin: 0!important;
}

.mb--no-mt {
  margin-top: 0!important;
}

.mb--no-mb {
  margin-bottom: 0!important;
}

.mb--no-ml {
  margin-left: 0!important;
}

.mb--no-mr {
  margin-right: 0!important;
}

.mb--no-m-row {
  margin-right: 0!important;
  margin-left: 0!important;
}

.mb--no-m-col {
  margin-top: 0!important;
  margin-bottom: 0!important;
}


/* PADDINGS *******************************************************************/

[class*=".mb--p-"] {
  padding: 0!important;
}

.mb--p-1 {
  padding: 1rem!important;
}

.mb--p-2 {
  padding: 2rem!important;
}

.mb--p-3 {
  padding: 3rem!important;
}

.mb--p-4 {
  padding: 4rem!important;
}

.mb--col-p-1 {
  padding: 1rem 0!important;
}

.mb--col-p-2 {
  padding: 2rem 0!important;
}

.mb--col-p-3 {
  padding: 3rem 0!important;
}

.mb--col-p-4 {
  padding: 4rem 0!important;
}

.mb--row-p-1 {
  padding: 0 1rem!important;
}

.mb--row-p-2 {
  padding: 0 2rem!important;
}

.mb--row-p-3 {
  padding: 0 3rem!important;
}

.mb--row-p-4 {
  padding: 0 4rem!important;
}

.mb--pt-1 {
  padding-top: 1rem!important;
}

.mb--pt-2 {
  padding-top: 2rem!important;
}

.mb--pt-3 {
  padding-top: 3rem!important;
}

.mb--pt-4 {
  padding-top: 4rem!important;
}

.mb--pb-1 {
  padding-bottom: 1rem!important;
}

.mb--pb-2 {
  padding-bottom: 2rem!important;
}

.mb--pb-3 {
  padding-bottom: 3rem!important;
}

.mb--pb-4 {
  padding-bottom: 4rem!important;
}

.mb--pl-1 {
  padding-left: 1rem!important;
}

.mb--pl-2 {
  padding-left: 2rem!important;
}

.mb--pl-3 {
  padding-left: 3rem!important;
}

.mb--pl-4 {
  padding-left: 4rem!important;
}

.mb--pr-1 {
  padding-right: 1rem!important;
}

.mb--pr-2 {
  padding-right: 2rem!important;
}

.mb--pr-3 {
  padding-right: 3rem!important;
}

.mb--pr-4 {
  padding-right: 4rem!important;
}

.mb--no-p {
  padding: 0!important;
}

.mb--no-pt {
  padding-top: 0!important;
}

.mb--no-pb {
  padding-bottom: 0!important;
}

.mb--no-pl {
  padding-left: 0!important;
}

.mb--no-pr {
  padding-right: 0!important;
}


/* POSITIONS ******************************************************************/

.mb--vertical-center {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.mb--flex_center {
  display: flex !important;
  justify-items: center !important;
  align-items: center !important;
}
.mb--flex-justify_center {
  display: flex !important;
  justify-items: center !important;
}
.mb--flex-align_center {
  display: flex !important;
  align-items: center !important;
}
.mb--flex-align_start {
  display: flex !important;
  align-items: flex-start !important;
}
.mb--flex-align_end {
  display: flex !important;
  align-items: flex-end !important;
}

/* WIDTHS AND HEIGHT *******************************************************/
.mb-width-100 {
  width: 100%!important;
}

/* TEXT ***********************************************************************/
.mb--txt-center {
  display: block;
  text-align: center;
}
.mb--txt-fw_light {
  font-weight: 300;
}
.mb--txt-fw_lighter {
  font-weight: 200;
}
.mb--txt-align_left {
  text-align: left;
}
.mb--txt-align_center {
  text-align: center;
}
.mb--txt-align_right {
  text-align: right;
}
