:root {
	--mb-admin--accent-color: #326E44;
	--mb-admin--border-color: #dcdcde;
	--mb-admin--button-border-radius: 50px;
	--mb-admin--page-width: 800px;
	--mb-admin-spacer-height: 2rem;
}

/* Structure */

.mybooking_page_mybooking-onboarding #wpcontent,
.admin_page_mybooking-onboarding-login #wpcontent,
.admin_page_mybooking-onboarding-generate #wpcontent,
.admin_page_mybooking-onboarding-resume #wpcontent,
.admin_page_mybooking-onboarding-error #wpcontent,
.mybooking_page_mybooking-onboarding-login #wpcontent,
.mybooking_page_mybooking-onboarding-generate #wpcontent,
.mybooking_page_mybooking-onboarding-resume #wpcontent,
.mybooking_page_mybooking-onboarding-rerror #wpcontent,
.mybooking_page_mybooking-onboarding-components #wpcontent,
.mybooking_page_mybooking-onboarding-pages #wpcontent {
	padding-left: 0;
}

.mb-onboarding-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 1rem;
}

@media (max-width: 600px) {
	.mb-onboarding-row {
		flex-direction: column;
	}
}

.mb-onboarding-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}

@media (max-width: 600px) {
	.mb-onboarding-column-center {
		width: 100%;
	}
}

.mb-onboarding-commons {
	text-align: center;
	max-width: var(--mb-admin--page-width);
	margin: 4rem auto;
}

/* Headings */

.mb-onboarding-page-header {
    text-align: center;
    margin: 0 0 1rem;
    background: #fff;
    border-bottom: 1px solid var(--mb-admin--border-color);
    padding: 2rem 0;
}

.mb-onboarding-title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    clear: both;
    padding: 0 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}

.mb-onboarding-title {
	color: var(--mb-admin--accent-color);
    font-size: 38px;
    font-weight: 800;
	line-height: 1.1em;
	margin-bottom: 0;
}

.mb-onboarding-description {
	font-size: 1.4em;
}

.mb-onboarding-step-title {
	font-size: 1.7rem;
	font-weight: lighter;
	line-height: 1.2;
	margin: 0 0 1rem;
}

.mb-onboarding-path {
	font-size: 1.6rem;
	font-weight: lighter;
	line-height: 1.2;
}

.mb-onboarding-pages-notice {
	font-size: 4em;
	font-weight: 800;
	line-height: 1;
}

/* Actionables */

.mb-onboarding-button {
	padding: 1rem 2rem;
	margin: 0.5rem;
	border-radius: var(--mb-admin--button-border-radius);
	border: none;
	background-color: var(--mb-admin--accent-color);
	color: white;
	font-weight: 800;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer;
}

.mb-onboarding-button:hover {
	color: white;
	opacity: 0.5;
}

.mb-onboarding-help-link {
	font-size: 1.1em;
	text-decoration: none;;
	color: var(--mb-admin--accent-color);
	cursor: pointer;
}

.mb-onboarding-help-link:hover {
	color: var(--mb-admin--accent-color);
	opacity: 0.5;
}

.mb-onboarding-separator {
	line-height: 1.2;
	border-left: 1px solid var(--mb-admin--accent-color);
	margin: 0 0.5rem;
}

.mb-onboarding-spacer {
	height: var(--mb-admin-spacer-height);
}

.mb-onboarding-commons a:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

/* Listings */

.mb-onboarding-list {
	margin: 2rem 0 0 0;
	padding: 0;
	list-style: none;
}

.mb-onboarding-setup-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	margin: 0;
	border: 1px solid var(--mb-admin--border-color);
	border-bottom: none;
	background-color: white;
	font-size: 1.6em;
	line-height: 1.8em;
	text-align: left;
	gap: 2rem;
}

@media (max-width: 600px) {
	.mb-onboarding-setup-item {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		margin: 0 1rem;
		text-align: center;
	}
}

.mb-onboarding-setup-item:last-of-type {
	border-bottom: 1px solid var(--mb-admin--border-color);
	margin-bottom: 3rem;
}

.mb-onboarding-setup-item-hint {
	margin: 0;
}

.mb-onboarding-component-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 2rem;
	padding: 2rem;
	margin-bottom: 1rem;
	border: 1px solid var(--mb-admin--border-color);
	background-color: white;
}

@media (max-width: 600px) {
	.mb-onboarding-component-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		margin: 0 1rem 1rem 1rem;
	}
}

.mb-onboarding-component-item:last-of-type {
	margin-bottom: 3rem;
}

.mb-onboarding-component-item-image {
	max-width: 40%;
}

.mb-onboarding-component-item-pill {
	position: absolute;
	top: 1rem;
	right: 2rem;
	display: inline-block;
	padding: 0.3rem 1rem;
	border-radius: 50px;
	background-color: var(--mb-admin--accent-color);
	color: white;
	font-size: 0.8rem;
	line-height: 1;
}

.mb-onboarding-component-item-body {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	font-size: 1.6em;
	line-height: 1.8em;
	text-align: left;
	gap: 1rem;
}

.mb-onboarding-row-link {
	text-decoration: none;
	display: inline-block;
	margin: 0 0 0 1rem;
}

.mb-onboarding-list .mb-onboarding-icon {
	font-size: 1.5em;
	color: var(--mb-admin--accent-color);
	cursor: pointer;
}

.mb-onboarding-list .mb-onboarding-icon:hover {
	opacity: 0.5;
}

.mb-onboarding-list .mb-onboarding-higthlight {
	border: 2px solid black;
}

.mb-onboarding-shortcode {
	display: inlineblock;
	font-size: 0.8rem;
	line-height: 1.9rem;
	padding: 0.3rem;
}

/* Forms */

.mb-onboarding-login-form {
	padding: 2rem;
}

label.mb-onboarding-login-label {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	padding:  0.5rem;
	display: inline-block;
}

input.mb-onboarding-login-field {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-color: var(--mb-admin--border-color);
}

input.mb-onboarding-login-field:focus::placeholder {
	color: transparent;
}

.mb-onboarding-commons input[type="radio"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	font: inherit;
	color:  rgba(0,0,0,0.5);
	width: 1.8rem;
	height: 1.8rem;
	border: 0.5rem solid  var(--mb-admin--border-color);
	border-radius: 50%;
	transform: translateY(0.1rem);
}

/* Errors */

h1.mb-onboarding-error {
	color: red;
}

.mb-onboarding-error.mb-onboarding-icon {
	color: red;
}

.mb-onboarding-commons label.error {
	color: #be1010;
	position: relative;
	top: -0.5rem;	
}

/* Helpers */

.mb-onboarding-commons .mb-onboarding-row.mb-onboarding-space-between {
	justify-content: space-between;
}

.mb-onboarding-commons .mb-onboarding-row.mb-onborading-pull-right {
	justify-content: flex-end;
}

/* Modal */

.mb-onboarding-loading {
	color: white;
	font-size: 1.5rem;
	font-weight: lighter;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.5);
}

.mb-onboarding-close-btn {
	position: absolute;
	top: 4rem;
	right: 2rem;
	z-index: 4;
}

.mb-onboarding-close-btn:before {
	content: '\2715';
	color: white;
	font-size: 2rem;
	cursor: pointer;
}

/* Video */
iframe {
    aspect-ratio: 16/9;
    width: 100%;
}

.mb-onboarding-welcome-video-container {
	margin-bottom: 2rem;
}

.mb-onboarding-video-container {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 5%;
	background-color: rgba(0,0,0,0.5);
}

.mb-onboarding-video-content {
	position: relative;
	width: 1000px;
}

@media (max-width: 600px) {
	.mb-onboarding-video-content {
		width: 100%;
	}
}

/* Gallery */

.mb-onboarding-gallery {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	z-index: 10000;
	background: rgba(0,0,0,0.5);
}

.mb-onboarding-gallery .mb-onboarding-gallery-form input {
	display: none;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(1):checked~label:nth-of-type(1),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(2):checked~label:nth-of-type(2),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(3):checked~label:nth-of-type(3),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(4):checked~label:nth-of-type(4),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(5):checked~label:nth-of-type(5),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(6):checked~label:nth-of-type(6),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(7):checked~label:nth-of-type(7),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(8):checked~label:nth-of-type(8),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(9):checked~label:nth-of-type(9),
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(10):checked~label:nth-of-type(10) {
	z-index: 0;
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(1):checked~label {
	transform: translate3d(0, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(2):checked~label {
	transform: translate3d(-100%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(3):checked~label {
	transform: translate3d(-200%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(4):checked~label {
	transform: translate3d(-300%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(5):checked~label {
	transform: translate3d(-400%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(6):checked~label {
	transform: translate3d(-500%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(7):checked~label {
	transform: translate3d(-600%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(8):checked~label {
	transform: translate3d(-700%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(9):checked~label {
	transform: translate3d(-800%, 0, 0);
}
.mb-onboarding-gallery .mb-onboarding-gallery-form input:nth-of-type(10):checked~label {
	transform: translate3d(-900%, 0, 0);
}

.mb-onboarding-gallery .mb-onboarding-gallery-form label {
	display: inline-block;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	position: relative;
	transition: transform 400ms ease-out;
}

.mb-onboarding-gallery .mb-onboarding-gallery-form label:before,
.mb-onboarding-gallery .mb-onboarding-gallery-form label:after {
	color: black;
	display: block;
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	padding: 0 0.8rem;
	font-size: 3rem;
	height: 8rem;
	vertical-align: middle;
	line-height: 8rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

.mb-onboarding-gallery .mb-onboarding-gallery-form label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.mb-onboarding-gallery .mb-onboarding-gallery-form label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.mb-onboarding-gallery .mb-onboarding-gallery-form label img {
	display: block;
	max-width: 90vw;
	max-height: 80vh;
	margin: 10vh auto;
}

/* Snackbar */

.mb-onboarding-snackbar {
  visibility: hidden;
  min-width: 250px;
  max-width: 600px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  text-align: center;
  font-size: 13px;
  border-radius: 2px;
  padding: 16px 24px;
  position: fixed;
  z-index: 1;
  left: 190px;
  bottom: 30px;
  cursor: pointer;
}

.mb-onboarding-snackbar.mb-onboarding-show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.mb-onboarding-snackbar.mb-onboarding-error {
	background-color: red;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}